<div class="row">
  <div class="col-sm-6 col-12 mt-sm-0 mt-10">
    <div class="dropdown js-roles-dropdown">
      <button type="button" class="form__control form__control--select font-size-sm dropdown-toggle w-100 text-left" data-flip="false" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
        <span class="align-middle js-roles-dropdown-default">Languages</span>
        <span class="align-middle js-roles-dropdown-current d-none text-truncate"></span>
      </button>
      <div class="dropdown-menu dropdown-menu-left">
        <label class="form__custom-checkbox">
          <input type="checkbox" value="all" class="form__custom-checkbox__input js-roles-dropdown-check js-roles-dropdown-all-check js-roles-dropdown-lang-check">
          <span class="form__custom-checkbox__control"></span>
          <span class="form__custom-checkbox__label font-size-sm">All</span>
        </label>

        <label class="form__custom-checkbox">
          <input type="checkbox" value="EN" class="form__custom-checkbox__input js-roles-dropdown-check js-roles-dropdown-lang-check">
          <span class="form__custom-checkbox__control"></span>
          <span class="form__custom-checkbox__label font-size-sm">EN</span>
        </label>

        <label class="form__custom-checkbox">
          <input type="checkbox" value="UK" class="form__custom-checkbox__input js-roles-dropdown-check js-roles-dropdown-lang-check">
          <span class="form__custom-checkbox__control"></span>
          <span class="form__custom-checkbox__label font-size-sm">UK</span>
        </label>

        <label class="form__custom-checkbox">
          <input type="checkbox" value="SW" class="form__custom-checkbox__input js-roles-dropdown-check js-roles-dropdown-lang-check">
          <span class="form__custom-checkbox__control"></span>
          <span class="form__custom-checkbox__label font-size-sm">SW</span>
        </label>

        <label class="form__custom-checkbox">
          <input type="checkbox" value="FI" class="form__custom-checkbox__input js-roles-dropdown-check js-roles-dropdown-lang-check">
          <span class="form__custom-checkbox__control"></span>
          <span class="form__custom-checkbox__label font-size-sm">FI</span>
        </label>

        <label class="form__custom-checkbox">
          <input type="checkbox" value="NOR" class="form__custom-checkbox__input js-roles-dropdown-check js-roles-dropdown-lang-check">
          <span class="form__custom-checkbox__control"></span>
          <span class="form__custom-checkbox__label font-size-sm">NOR</span>
        </label>

        <label class="form__custom-checkbox">
          <input type="checkbox" value="CA" class="form__custom-checkbox__input js-roles-dropdown-check js-roles-dropdown-lang-check">
          <span class="form__custom-checkbox__control"></span>
          <span class="form__custom-checkbox__label font-size-sm">CA</span>
        </label>

        <label class="form__custom-checkbox">
          <input type="checkbox" value="NZ" class="form__custom-checkbox__input js-roles-dropdown-check js-roles-dropdown-lang-check">
          <span class="form__custom-checkbox__control"></span>
          <span class="form__custom-checkbox__label font-size-sm">NZ</span>
        </label>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-12 mt-sm-0 mt-10">
    <div class="dropdown js-roles-dropdown">
      <button type="button" class="form__control form__control--select font-size-sm dropdown-toggle w-100 text-left" data-flip="false" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
        <span class="align-middle js-roles-dropdown-default">Actions</span>
        <span class="align-middle js-roles-dropdown-current d-none"></span>
      </button>
      <div class="dropdown-menu dropdown-menu-left">
        <label class="form__custom-checkbox">
          <input type="checkbox" value="all" class="form__custom-checkbox__input js-roles-dropdown-check js-roles-dropdown-all-check js-roles-dropdown-action-check">
          <span class="form__custom-checkbox__control"></span>
          <span class="form__custom-checkbox__label font-size-sm">All</span>
        </label>

        <label class="form__custom-checkbox">
          <input type="checkbox" value="Add" class="form__custom-checkbox__input js-roles-dropdown-check js-roles-dropdown-action-check">
          <span class="form__custom-checkbox__control"></span>
          <span class="form__custom-checkbox__label font-size-sm">Add</span>
        </label>

        <label class="form__custom-checkbox">
          <input type="checkbox" value="Edit" class="form__custom-checkbox__input js-roles-dropdown-check js-roles-dropdown-action-check">
          <span class="form__custom-checkbox__control"></span>
          <span class="form__custom-checkbox__label font-size-sm">Edit</span>
        </label>

        <label class="form__custom-checkbox">
          <input type="checkbox" value="Detete" class="form__custom-checkbox__input js-roles-dropdown-check js-roles-dropdown-action-check">
          <span class="form__custom-checkbox__control"></span>
          <span class="form__custom-checkbox__label font-size-sm">Delete</span>
        </label>
      </div>
    </div>
  </div>
</div>