<div class="pages__modules js-table-sortable">
  @@include('content/pages/modules/home-page-header.html')
  @@include('content/pages/modules/games-selector.html')
  @@include('content/pages/modules/winnings-activity.html')
  @@include('content/pages/modules/jackpot-feed.html')
  @@include('content/pages/modules/wishmaker-planet.html')
  @@include('content/pages/modules/half-width-boxes.html')
  @@include('content/pages/modules/landing-page-header.html')
  @@include('content/pages/modules/content-image.html')
  @@include('content/pages/modules/bullets-section.html')
  @@include('content/pages/modules/full-width-content.html')
</div>