<tr class="tr--card">
  <td data-card-title="Title" class="td--card td--card--half">@@title</td>
  <td data-card-title="Enabled" class="td--card td--card--half text-center">@@enabled</td>
  <td data-card-title="Type" class="td--card td--card--half text-center">@@type</td>
  <td data-card-title="Coins" class="td--card td--card--half text-center">@@coins</td>
  <td data-card-title="Purchasable" class="td--card td--card--half text-center">@@purchasable</td>
  <td data-card-title="Rewards" class="td--card td--card--half text-center">@@rewards</td>
  <td class="td--card td--card--full td--card-text-center text-center">
    <a href="edit-bonuses.html" class="btn btn--outline-gray btn--sm-round d-flex-inline">edit</a>
    <a class="btn btn--outline-gray btn--sm-round d-flex-inline text-nowrap" href="" >view triggers</a>
  </td>
</tr>