<tr class="tr--card">
  <td data-card-title="Deposit #" class="td--card td--card--half text-center">@@id</td>
  <td data-card-title="Player name" class="td--card td--card--half text-center">@@name</td>
  <td data-card-title="Date" class="td--card td--card--half text-center">@@date</td>
  <td data-card-title="Price" class="td--card td--card--half text-center">@@price</td>
  <td data-card-title="Status" class="td--card td--card--half text-center">@@Status</td>
  <td class="td--card td--card--half td--card-text-center text-center"><a href="wishfactory-view-deposits.html" class="btn btn--outline-gray btn--sm-round">view</a></td>
</tr>