<tr class="tr--card">
  <td data-card-title="Divider" class="td--card td--card--half">@@divider</td>
  <td data-card-title="Start Date" class="td--card td--card--half text-center">@@start</td>
  <td data-card-title="End Date" class="td--card td--card--half text-center">@@end</td>
  <td data-card-title="Enabled" class="td--card td--card--half text-center">@@enabled</td>
  <td class="td--card td--card--full td--card-text-center text-center"><a href="edit-coins-frequency.html" class="btn btn--outline-gray btn--sm-round">edit</a></td>
</tr>