<tr class="tr--card">
  <td data-card-title="Country Code" class="td--card td--card--half">@@code</td>
  <td data-card-title="Country" class="td--card td--card--half">@@country</td>
  <td data-card-title="Currency" class="td--card td--card--half text-center">@@currency</td>
  <td data-card-title="Language" class="td--card td--card--half text-center">@@language</td>
  <td data-card-title="Calling Code" class="td--card td--card--half text-center">@@call</td>
  <td data-card-title="Enabled" class="td--card td--card--half text-center">@@enabled</td>
  <td class="td--card td--card--full td--card-text-center text-center"><a href="edit-content-countries.html" class="btn btn--outline-gray btn--sm-round">edit</a></td>
</tr>