<form>
  <div class="row align-items-center">
    <div class="col-md-6 col-12 mb-25">
      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-sm-2 col-3">
            <label>Country Code</label>
          </div>

          <div class="col">
            <input type="text" class="form__control">
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-sm-2 col-3">
            <label>Country</label>
          </div>

          <div class="col">
            <input type="text" class="form__control">
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-sm-2 col-3">
            <label>Language</label>
          </div>

          <div class="col">
            <select class="form__control">
              <option value="">Choose</option>
              <option value="1">English World</option>
              <option value="33">British</option>
              <option value="3">Swedish</option>
              <option value="28">Finnish</option>
              <option value="29">Norwegian</option>
              <option value="32">German</option>
              <option value="34" selected="selected">Canadian</option>
              <option value="36">New Zealand</option>
            </select>
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-12 mb-25">
      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-sm-2 col">
            <label class="d-block">Enabled</label>
          </div>

          <div class="col-sm col-auto">
            <label class="form__custom-check">
              <input type="checkbox" class="form__custom-check__input" checked>
              <span class="form__custom-check__control"></span>
            </label>
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-sm-2 col-3">
            <label>Calling Code</label>
          </div>

          <div class="col">
            <input type="text" class="form__control">
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-sm-2 col-3">
            <label>Currency</label>
          </div>

          <div class="col">
            <select name="currency" class="form__control">
              <option value="">Choose</option>
              <option value="1" selected="selected">EUR</option>
              <option value="7">SEK</option>
              <option value="10">USD</option>
              <option value="11">GBP</option>
              <option value="13">NOK</option>
              <option value="14">CAD</option>
              <option value="16">NZD</option>
            </select>
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="divider pt-sm-25 pt-20">
    <div class="row justify-content-sm-between">
      <div class="col-lg-4 col-sm-8 col-12">
        <div class="row">
          <div class="col-sm col-12 mb-sm-0 mb-10">
            <button type="submit" class="btn btn--orange btn--lg-round w-100"><i class="wmd wmd-21 mr-10"></i>save</button>
          </div>

          <div class="col-sm col-12 mb-sm-0 mb-10">
            <button type="button" class="btn btn--purple btn--lg-round w-100"><i class="wmd wmd-30 mr-10"></i>Duplicate</button>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-sm-4 col-12">
        <button type="button" class="btn btn--gray btn--lg-round w-100" data-toggle="modal" data-target="#confirmModdal"><i class="wmd wmd-31 mr-10"></i>Delete</button>
      </div>
    </div>
  </div>
</form>