<form>
  <div class="row">
    <div class="col-md-6 col-12 mb-25">
      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-sm-2 col-3">
            <label>Title</label>
          </div>

          <div class="col">
            <input type="text" class="form__control">
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-sm-2 col-3">
            <label>URL</label>
          </div>

          <div class="col">
            <input type="text" class="form__control">
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row form__row--align-top">
          <div class="col-sm-2 col-3">
            <label>Meta Title</label>
          </div>

          <div class="col">
            <input type="text" class="form__control">
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row form__row--align-top">
          <div class="col-sm-2 col-3">
            <label>Meta description</label>
          </div>

          <div class="col">
            <textarea class="form__control"></textarea>
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-12 mb-25">
      <div class="form__group--checks mb-10">
        <div class="row">
          <div class="col-sm col-12 mb-sm-15">
            <div class="form__row align-items-center">
              <div class="col-sm-12 col">
                <label class="d-block mb-5 text-nowrap">Show Subs Only</label>
              </div>

              <div class="col-sm-12 col-auto">
                <label class="form__custom-check">
                  <input type="checkbox" class="form__custom-check__input" checked>
                  <span class="form__custom-check__control"></span>
                </label>
              </div>
            </div>
          </div>

          <div class="col-12 d-sm-none">
            <div class="divider my-5 w-100"></div>
          </div>


          <div class="col-sm col-12 mb-sm-15">
            <div class="form__row align-items-center">
              <div class="col-sm-12 col">
                <label class="d-block mb-5 text-nowrap">Featured</label>
              </div>

              <div class="col-sm-12 col-auto">
                <label class="form__custom-check">
                  <input type="checkbox" class="form__custom-check__input">
                  <span class="form__custom-check__control"></span>
                </label>
              </div>
            </div>
          </div>

          <div class="col-12 d-sm-none">
            <div class="divider my-5 w-100"></div>
          </div>


          <div class="col-sm col-12 mb-sm-15">
            <div class="form__row align-items-center">
              <div class="col-sm-12 col">
                <label class="d-block mb-5 text-nowrap">Main</label>
              </div>

              <div class="col-sm-12 col-auto">
                <label class="form__custom-check">
                  <input type="checkbox" class="form__custom-check__input">
                  <span class="form__custom-check__control"></span>
                </label>
              </div>
            </div>
          </div>

          <div class="col-12 d-sm-none">
            <div class="divider my-5 w-100"></div>
          </div>

          <div class="col-sm col-12 mb-sm-15">
            <div class="form__row align-items-center">
              <div class="col-sm-12 col">
                <label class="d-block mb-5 text-nowrap">Enabled</label>
              </div>

              <div class="col-sm-12 col-auto">
                <label class="form__custom-check">
                  <input type="checkbox" class="form__custom-check__input">
                  <span class="form__custom-check__control"></span>
                </label>
              </div>
            </div>
          </div>

          <div class="col-12 d-sm-none">
            <div class="divider my-5 w-100"></div>
          </div>

          <div class="col-sm col-12 mb-sm-15">
            <div class="form__row align-items-center">
              <div class="col-sm-12 col">
                <label class="d-block mb-5 text-nowrap">Is Jackpot</label>
              </div>

              <div class="col-sm-12 col-auto">
                <label class="form__custom-check">
                  <input type="checkbox" class="form__custom-check__input">
                  <span class="form__custom-check__control"></span>
                </label>
              </div>
            </div>
          </div>

          <div class="col-12 d-sm-none">
            <div class="divider my-5 w-100"></div>
          </div>

          <div class="col-sm col-12 mb-sm-15">
            <div class="form__row align-items-center">
              <div class="col-sm-12 col">
                <label class="d-block mb-5 text-nowrap">Is All Games</label>
              </div>

              <div class="col-sm-12 col-auto">
                <label class="form__custom-check">
                  <input type="checkbox" class="form__custom-check__input">
                  <span class="form__custom-check__control"></span>
                </label>
              </div>
            </div>
          </div>

          <div class="col-12 d-sm-none">
            <div class="divider my-5 w-100"></div>
          </div>

          <div class="col-sm col-12 mb-sm-15">
            <div class="form__row align-items-center">
              <div class="col-sm-12 col">
                <label class="d-block mb-5 text-nowrap">Is Favorites</label>
              </div>

              <div class="col-sm-12 col-auto">
                <label class="form__custom-check">
                  <input type="checkbox" class="form__custom-check__input">
                  <span class="form__custom-check__control"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-sm-2 col-3">
            <label>Sub Categories </label>
          </div>

          <div class="col">
            <select class="form__control js-select2" multiple>
              <option value="70">New Stars</option>
              <option value="79">Live Roulette sub</option>
              <option value="78">Top live games sub</option>
              <option value="80">Live Blackjack sub</option>
              <option value="81">Live Baccarat sub</option>
              <option value="82">More Live Games sub</option>
              <option value="83">Quick play sub</option>
              <option value="102">VIP Live games sub</option>
              <option value="37">Jackpots</option>
              <option value="71">Wishmaker Likes sub</option>
              <option value="86">Best of Vegas sub</option>
              <option value="104">Wishmaker top 10 sub</option>
              <option value="105">New stars sub</option>
              <option value="106">Halloween top picks sub</option>
              <option value="107">Jackpots sub</option>
              <option value="108" selected="selected">Live Casino sub</option>
              <option value="39">Live Casino</option>
              <option value="66">All</option>
              <option value="84">VIP</option>
              <option value="85">Table Games</option>
              <option value="87">Video Slots</option>
              <option value="88">Classic Slots</option>
              <option value="90">3D Slots</option>
              <option value="91">Blackjack</option>
              <option value="92">Branded Slots</option>
              <option value="93">Card Games</option>
              <option value="94">Fruit Slots</option>
              <option value="95">High Roller Slots</option>
              <option value="96">Instant Wins</option>
              <option value="97">Pub Slots</option>
              <option value="98">Roulette</option>
              <option value="99">Vegas Slots</option>
              <option value="100">Video Poker</option>
              <option value="101">Live Games</option>
              <option value="110">Favourites</option>
            </select>
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-sm-2 col-3">
            <label>Features</label>
          </div>

          <div class="col">
            <select class="form__control js-select2" multiple>
              <option value="29">Sticky Wilds</option>
              <option value="30">Expanding Wilds</option>
              <option value="31">Stacked Wilds</option>
              <option value="32">Free Spins</option>
              <option value="33">Bonus Rounds</option>
              <option value="34">5 Paylines</option>
              <option value="35">10 Paylines</option>
              <option value="36">20 Paylines</option>
              <option value="37">25 Paylines</option>
              <option value="38">40 Paylines</option>
              <option value="39">50 Paylines</option>
              <option value="40">100 Paylines</option>
              <option value="41">All Ways Slots</option>
              <option value="42">Win Both Ways</option>
              <option value="43">3 Reels</option>
              <option value="44">5 Reels</option>
              <option value="45">5+ Reels</option>
              <option value="46">Tumbling Reels</option>
              <option value="47">Colossal Reels</option>
              <option value="48">Cluster Pays</option>
              <option value="60">Just Reels Action</option>
            </select>
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-sm-2 col-3">
            <label>Countries</label>
          </div>

          <div class="col">
            <select class="form__control js-select2" multiple>
              <option value="AL">Albania</option>
              <option value="AD">Andorra</option>
              <option value="AT">Austria</option>
              <option value="BH">Bahrain</option>
              <option value="BD">Bangladesh</option>
              <option value="BY">Belarus</option>
              <option value="BO">Bolivia, Plurinational State of</option>
              <option value="BA">Bosnia and Herzegovina</option>
              <option value="BN">Brunei Darussalam</option>
              <option value="CA">Canada</option>
              <option value="CL">Chile</option>
              <option value="CO">Colombia</option>
              <option value="HR">Croatia</option>
              <option value="FK">Falkland Islands (Malvinas)</option>
              <option value="FI">Finland</option>
              <option value="GE">Georgia</option>
              <option value="DE">Germany</option>
              <option value="GI">Gibraltar</option>
              <option value="GG">Guernsey</option>
              <option value="IS">Iceland</option>
              <option value="IE">Ireland</option>
              <option value="IM">Isle of Man</option>
              <option value="JP">Japan</option>
              <option value="JE">Jersey</option>
              <option value="KR">Korea, Republic of</option>
              <option value="LV">Latvia</option>
              <option value="LI">Liechtenstein</option>
              <option value="LT">Lithuania</option>
              <option value="LU">Luxembourg</option>
              <option value="MO">Macao</option>
              <option value="MK">Macedonia, the former Yugoslav Republic of</option>
              <option value="MT">Malta</option>
              <option value="MX">Mexico</option>
              <option value="MD">Moldova, Republic of</option>
              <option value="MC">Monaco</option>
              <option value="MN">Mongolia</option>
              <option value="NL">Netherlands</option>
              <option value="NZ">New Zealand</option>
              <option value="NO">Norway</option>
              <option value="PY">Paraguay</option>
              <option value="PE">Peru</option>
              <option value="QA">Qatar</option>
              <option value="RU">Russian Federation</option>
              <option value="SM">San Marino</option>
              <option value="RS">Serbia</option>
              <option value="LK">Sri Lanka</option>
              <option value="SE">Sweden</option>
              <option value="CH">Switzerland</option>
              <option value="TW">Taiwan, Province of China</option>
              <option value="TH">Thailand</option>
              <option value="UA">Ukraine</option>
              <option value="AE">United Arab Emirates</option>
              <option value="GB">United Kingdom</option>
              <option value="VN">Viet Nam</option>
            </select>
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>

          <div class="col-sm-10 col-9 offset-sm-2 offset-3">
            <label class="form__custom-radio my-10 mr-15">
              <input type="radio" name="countries" class="form__custom-radio__input" checked>
              <span class="form__custom-radio__control"></span>
              <span class="form__custom-radio__label">Include Countries</span>
            </label>

            <label class="form__custom-radio my-10">
              <input type="radio" name="countries" class="form__custom-radio__input">
              <span class="form__custom-radio__control"></span>
              <span class="form__custom-radio__label">Exclude Countries</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="form__group">
    <label class="d-block mb-10">Description</label>
    <textarea name="editor1" class="editor"></textarea>
  </div>

  <h3 class="mb-20">Images</h3>

  <div class="divider mb-sm-10"></div>

  <div class="row">
    <div class="col-lg-2 col-sm-3 col-6 my-15">
      <h4 class="mb-10 text-gray-700 font-weight-medium">Menu icon</h4>
      <p class="mb-15 text-purple font-size-sm">Recomended size: 380x530px</p>
      <div class="mb-15">
        <input type="text" class="form__control form__control--sm" placeholder="Add alt tag">
      </div>

      <div class="preview position-relative text-center">
        <figure class="preview__thumb d-inline-block mb-15 rounded overflow-hidden text-center">
          <a href="../dist/images/examples/kaiser-slots.png" class="preview__zoom d-block position-relative">
            <i class="preview__zoom__icon wmd wmd-45 position-absolute"></i>
            <img src="../dist/images/examples/kaiser-slots.png" alt="">
          </a>
        </figure>

        <label class="form__custom-file mb-10">
          <input type="file" class="form__custom-file__input">
          <span class="form__custom-file__label text-center">choose file</span> <i class="wmd wmd-46 ml-10"></i>
        </label>

        <button type="button" class="preview__delete d-block w-100 text-center text-uppercase font-size-sm font-weight-medium">delete <i class="wmd wmd-31 ml-5"></i></button>
      </div>
    </div>

    <div class="col-lg-2 col-sm-3 col-6 my-15">
      <h4 class="mb-10 text-gray-700 font-weight-medium">Background Image</h4>
      <p class="mb-15 text-purple font-size-sm">Recomended size: 380x530px</p>
      <div class="mb-15">
        <input type="text" class="form__control form__control--sm" placeholder="Add alt tag">
      </div>

      <div class="preview position-relative text-center">
        <figure class="preview__thumb d-inline-block mb-15 rounded overflow-hidden text-center">
          <a href="../dist/images/examples/kaiser-slots.png" class="preview__zoom d-block position-relative">
            <i class="preview__zoom__icon wmd wmd-45 position-absolute"></i>
            <img src="../dist/images/examples/kaiser-slots.png" alt="">
          </a>
        </figure>

        <label class="form__custom-file mb-10">
          <input type="file" class="form__custom-file__input">
          <span class="form__custom-file__label text-center">choose file</span> <i class="wmd wmd-46 ml-10"></i>
        </label>

        <button type="button" class="preview__delete d-block w-100 text-center text-uppercase font-size-sm font-weight-medium">delete <i class="wmd wmd-31 ml-5"></i></button>
      </div>
    </div>
  </div>

  <div class="divider pt-sm-25 pt-20">
    <div class="row justify-content-sm-between">
      <div class="col-lg-4 col-sm-8 col-12">
        <div class="row">
          <div class="col-sm col-12 mb-sm-0 mb-10">
            <button type="submit" class="btn btn--orange btn--lg-round w-100"><i class="wmd wmd-21 mr-10"></i>save</button>
          </div>

          <div class="col-sm col-12 mb-sm-0 mb-10">
            <button type="button" class="btn btn--purple btn--lg-round w-100"><i class="wmd wmd-30 mr-10"></i>Duplicate</button>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-sm-4 col-12">
        <button type="button" class="btn btn--gray btn--lg-round w-100" data-toggle="modal" data-target="#confirmModdal"><i class="wmd wmd-31 mr-10"></i>Delete</button>
      </div>
    </div>
  </div>
</form>