<label class="trigger__item px-15 form__custom-radio mb-30 js-trigger-type js-radio-tab" data-toggle="tab" data-target="#@@target">
  <input type="radio" name="stringtype" class="form__custom-radio__input">
  <span class="form__custom-radio__control"></span>
  <span class="form__custom-radio__label">@@name</span>
  <span class="form__info text-center ml-10" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></span>
</label>