<tr class="tr--card">
  <td data-card-title="Enabled" class="td--card td--card--half">@@enabled</td>
  <td data-card-title="Type" class="td--card td--card--half">@@type</td>
  <td data-card-title="Amount" class="td--card td--card--half text-center">@@amount</td>
  <td data-card-title="Rewards" class="td--card td--card--half text-center">@@rewards</td>
  <td data-card-title="Trigger" class="td--card td--card--half text-center">@@trigger</td>
  <td class="td--card td--card--full td--card-text-center text-center"><a href="edit-bonuses-triggers.html" class="btn btn--outline-gray btn--sm-round d-flex-inline">edit</a></td>
</tr>