<form>
  <div class="form__group">
    <div class="form__row form__row--align-top">
      <div class="col-sm-2 col-3">
        <label>Show Max Levels (0 = All Levels)</label>
      </div>

      <div class="col">
        <<textarea class="form__control"></textarea>
      </div>

      <div class="col-auto">
        <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
      </div>
    </div>
  </div>

  <div class="divider pt-sm-25 pt-20">
    <div class="row justify-content-sm-between">
      <div class="col-xl-2 col-sm-3 col-12 mb-sm-0 mb-10">
        <button type="submit" class="btn btn--orange btn--lg-round w-100"><i class="wmd wmd-21 mr-10"></i>save</button>
      </div>
    </div>
  </div>
</form>