<form>
  <div class="row">
    <div class="col-md-6 col-12 mb-25">
      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-3">
            <label>Company Name</label>
          </div>

          <div class="col">
            <input type="text" class="form__control">
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-3">
            <label>Support Email</label>
          </div>

          <div class="col">
            <input type="text" class="form__control">
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-3">
            <label>Site Notifications Email</label>
          </div>

          <div class="col">
            <input type="text" class="form__control">
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-3">
            <label>Default Country</label>
          </div>

          <div class="col">
            <select class="form__control">
              <option value="3">Albania</option>
              <option value="6">Andorra</option>
              <option value="15">Austria</option>
              <option value="18">Bahrain</option>
              <option value="19">Bangladesh</option>
              <option value="21">Belarus</option>
              <option value="27">Bolivia, Plurinational State of</option>
              <option value="29">Bosnia and Herzegovina</option>
              <option value="34">Brunei Darussalam</option>
              <option value="40">Canada</option>
              <option value="45">Chile</option>
              <option value="49">Colombia</option>
              <option value="56">Croatia</option>
              <option value="72">Falkland Islands (Malvinas)</option>
              <option value="75">Finland</option>
              <option value="82">Georgia</option>
              <option value="83">Germany</option>
              <option value="85">Gibraltar</option>
              <option value="92">Guernsey</option>
              <option value="102">Iceland</option>
              <option value="107">Ireland</option>
              <option value="108">Isle of Man</option>
              <option value="112">Japan</option>
              <option value="113">Jersey</option>
              <option value="119">Korea, Republic of</option>
              <option value="123">Latvia</option>
              <option value="128">Liechtenstein</option>
              <option value="129">Lithuania</option>
              <option value="130">Luxembourg</option>
              <option value="131">Macao</option>
              <option value="132">Macedonia, the former Yugoslav Republic of</option>
              <option value="138">Malta</option>
              <option value="144">Mexico</option>
              <option value="146">Moldova, Republic of</option>
              <option value="147">Monaco</option>
              <option value="148">Mongolia</option>
              <option value="157">Netherlands</option>
              <option value="159">New Zealand</option>
              <option value="166">Norway</option>
              <option value="173">Paraguay</option>
              <option value="174">Peru</option>
              <option value="180">Qatar</option>
              <option value="183">Russian Federation</option>
              <option value="193">San Marino</option>
              <option value="197">Serbia</option>
              <option value="210">Sri Lanka</option>
              <option value="215">Sweden</option>
              <option value="216">Switzerland</option>
              <option value="218">Taiwan, Province of China</option>
              <option value="221">Thailand</option>
              <option value="233">Ukraine</option>
              <option value="234">United Arab Emirates</option>
              <option value="235" selected="selected">United Kingdom</option>
              <option value="242">Viet Nam</option>
            </select>
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-3">
            <label>Default Currency</label>
          </div>

          <div class="col">
            <input type="text" class="form__control">
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-3">
            <label>Google Analytics ID</label>
          </div>

          <div class="col">
            <input type="text" class="form__control">
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-3">
            <label>Yandex Translation API Key</label>
          </div>

          <div class="col">
            <input type="text" class="form__control">
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row form__row--align-top">
          <div class="col-3">
            <label>Blocked Email Domains</label>
          </div>

          <div class="col">
            <textarea class="form__control"></textarea>
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-12 mb-25">
        <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-3">
            <label>IGC Endpoint</label>
          </div>

          <div class="col">
            <input type="text" class="form__control">
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-3">
            <label>Duplicate IP registration Enabled</label>
          </div>

          <div class="col">
            <select class="form__control">
              <option value="0" selected="selected">No</option>
              <option value="1">Yes</option>
            </select>
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-3">
            <label>Default Language</label>
          </div>

          <div class="col">
            <select class="form__control">
              <option value="">Choose</option>
              <option value="en" selected="selected">English World</option>
              <option value="gb">British</option>
              <option value="sv">Swedish</option>
              <option value="fi">Finnish</option>
              <option value="no">Norwegian</option>
              <option value="de">German</option>
              <option value="ca">Canadian</option>
              <option value="nz">New Zealand</option>
            </select>
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-3">
            <label>Site Is Under Construction</label>
          </div>

          <div class="col">
            <select class="form__control">
              <option value="0" selected="selected">No</option>
              <option value="1">Yes</option>
            </select>
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-3">
            <label>Block Restricted Countries</label>
          </div>

          <div class="col">
            <select class="form__control">
              <option value="0" selected="selected">No</option>
              <option value="1">Yes</option>
            </select>
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-3">
            <label>Registration Success Tracking Enable</label>
          </div>

          <div class="col">
            <select class="form__control">
              <option value="0" selected="selected">No</option>
              <option value="1">Yes</option>
            </select>
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row form__row--align-top">
          <div class="col-3">
            <label>Registration Success Tracking</label>
          </div>

          <div class="col">
            <textarea class="form__control"></textarea>
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="divider pt-sm-25 pt-20">
    <div class="row justify-content-sm-between">
      <div class="col-xl-2 col-sm-3 col-12 mb-sm-0 mb-10">
        <button type="submit" class="btn btn--orange btn--lg-round w-100"><i class="wmd wmd-21 mr-10"></i>save</button>
      </div>
    </div>
  </div>
</form>