<form>
  <div class="row">
    <div class="col-md-6 col-12 mb-25">
      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-3">
            <label>RabbitMQ Host</label>
          </div>

          <div class="col">
            <input type="text" class="form__control">
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-3">
            <label>RabbitMQ User</label>
          </div>

          <div class="col">
            <input type="text" class="form__control">
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-3">
            <label>RabbitMQ Password</label>
          </div>

          <div class="col">
            <input type="password" class="form__control">
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-12 mb-25">
      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-3">
            <label>RabbitMQ Port</label>
          </div>

          <div class="col">
            <input type="text" class="form__control">
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-3">
            <label>RabbitMQ Vhost</label>
          </div>

          <div class="col">
            <input type="text" class="form__control">
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-3">
            <label>RabbitMQ Queue</label>
          </div>

          <div class="col">
            <input type="text" class="form__control">
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="divider pt-sm-25 pt-20">
    <div class="row justify-content-sm-between">
      <div class="col-xl-2 col-sm-3 col-12 mb-sm-0 mb-10">
        <button type="submit" class="btn btn--orange btn--lg-round w-100"><i class="wmd wmd-21 mr-10"></i>save</button>
      </div>
    </div>
  </div>
</form>