<form>
  <div class="row">
    <div class="col-md-6 col-12 mb-25">
      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-sm-2 col-3">
            <label>Title</label>
          </div>

          <div class="col">
            <input type="text" class="form__control">
          </div>

          <div class="col-auto">
            <div class="form__info text-center tooltip-edit" tabindex="0" data-toggle="tooltip" data-placement="left" data-original-title="" data-field="title">
              <i class="wmd wmd-29"></i>
              <i class="wmd wmd-77"></i>
            </div>
            <!-- <button type="button" class="form__info text-center" data-toggle="modal" data-target="#editTooptipModal">
              <span class="d-block" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i><i class="wmd wmd-77"></i></span>
            </button> -->
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row form__row--align-top">
          <div class="col-sm-2 col-3">
            <label>Mobile title</label>
          </div>

          <div class="col">
            <input type="text" class="form__control">
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-sm-2 col-3">
            <label>URL</label>
          </div>

          <div class="col">
            <input type="text" class="form__control">
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-sm-2 col-3">
            <label>Meta keywords</label>
          </div>

          <div class="col">
            <input type="text" class="form__control">
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row form__row--align-top">
          <div class="col-sm-2 col-3">
            <label>Meta description</label>
          </div>

          <div class="col">
            <textarea class="form__control"></textarea>
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-12 mb-25">
      <div class="form__group form__group--checks">
        <div class="row">
          <div class="col-sm col-12">
            <div class="form__row align-items-center">
              <div class="col-sm-12 col">
                <label class="d-block mb-5">Enabled</label>
              </div>

              <div class="col-sm-12 col-auto">
                <label class="form__custom-check">
                  <input type="checkbox" class="form__custom-check__input" checked>
                  <span class="form__custom-check__control"></span>
                </label>
              </div>
            </div>
          </div>

          <div class="col-12 d-sm-none">
            <div class="divider my-5 w-100"></div>
          </div>


          <div class="col-sm col-12">
            <div class="form__row align-items-center">
              <div class="col-sm-12 col">
                <label class="d-block mb-5">Featured</label>
              </div>

              <div class="col-sm-12 col-auto">
                <label class="form__custom-check">
                  <input type="checkbox" class="form__custom-check__input">
                  <span class="form__custom-check__control"></span>
                </label>
              </div>
            </div>
          </div>

          <div class="col-12 d-sm-none">
            <div class="divider my-5 w-100"></div>
          </div>


          <div class="col-sm col-12">
            <div class="form__row align-items-center">
              <div class="col-sm-12 col">
                <label class="d-block mb-5">Childish Content</label>
              </div>

              <div class="col-sm-12 col-auto">
                <label class="form__custom-check">
                  <input type="checkbox" class="form__custom-check__input">
                  <span class="form__custom-check__control"></span>
                </label>
              </div>
            </div>
          </div>

          <div class="col-12 d-sm-none">
            <div class="divider my-5 w-100"></div>
          </div>

          <div class="col-sm col-12">
            <div class="form__row align-items-center">
              <div class="col-sm-12 col">
                <label class="d-block mb-5">Bonus Restricted</label>
              </div>

              <div class="col-sm-12 col-auto">
                <label class="form__custom-check">
                  <input type="checkbox" class="form__custom-check__input">
                  <span class="form__custom-check__control"></span>
                </label>
              </div>
            </div>
          </div>

          <div class="col-12 d-sm-none">
            <div class="divider my-5 w-100"></div>
          </div>


          <div class="col-sm col-12">
            <div class="form__row align-items-center">
              <div class="col-sm-12 col">
                <label class="d-block mb-5">Real Only</label>
              </div>

              <div class="col-sm-12 col-auto">
                <label class="form__custom-check">
                  <input type="checkbox" class="form__custom-check__input">
                  <span class="form__custom-check__control"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-sm-0 mb-25">
        <div class="col-sm col-12 form__group">
          <label class="d-block mb-10">Provider</label>
          
          <select class="form__control">
            <option value="Netent">Netent</option>
            <option value="BetSoft">BetSoft</option>
            <option value="Microgaming">Microgaming</option>
            <option value="NYX Gaming">NYX Gaming</option>
            <option value="Play N Go">Play N Go</option>
            <option value="Scientific Games">Scientific Games</option>
            <option value="Evolution">Evolution</option>
            <option value="Quickspin" selected="selected">Quickspin</option>
            <option value="IGT">IGT</option>
            <option value="Reel54">Reel54</option>
            <option value="Genii">Genii</option>
            <option value="Edict">Edict</option>
            <option value="Spigo">Spigo</option>
            <option value="Yggdrasil">Yggdrasil</option>
            <option value="Leopold">Leopold</option>
            <option value="Red Tiger">Red Tiger</option>
            <option value="Pragmatic Play">Pragmatic Play</option>
            <option value="Imagina Gaming">Imagina Gaming</option>
            <option value="Nolimit City">Nolimit City</option>
            <option value="Thunderkick">Thunderkick</option>
            <option value="Slingo">Slingo</option>
            <option value="Winafar">Winafar</option>
            <option value="Spin">Spin</option>
            <option value="iSoftBet">iSoftBet</option>
            <option value="Everi">Everi</option>
            <option value="GiG Games">GiG Games</option>
            <option value="Novomatic">Novomatic</option>
            <option value="NetEnt">NetEnt</option>
            <option value="Aristocrat">Aristocrat</option>
            <option value="Evolution Gaming">Evolution Gaming</option>
            <option value="Merkur Gaming">Merkur Gaming</option>
            <option value="Blueprint Gaming">Blueprint Gaming</option>
            <option value="Bally Wulff">Bally Wulff</option>
            <option value="Gamomat">Gamomat</option>
            <option value="2 by 2 Gaming">2 by 2 Gaming</option>
            <option value="Fantasma">Fantasma</option>
            <option value="Genesis Gaming">Genesis Gaming</option>
            <option value="Just for the Win">Just for the Win</option>
            <option value="Adoptit Publishing">Adoptit Publishing</option>
            <option value="Leander Games">Leander Games</option>
            <option value="Old Skool Studios">Old Skool Studios</option>
            <option value="Rabcat">Rabcat</option>
            <option value="MahiGaming">MahiGaming</option>
            <option value="Skillzz Gaming">Skillzz Gaming</option>
            <option value="Wagermill">Wagermill</option>
            <option value="StakeLogic">StakeLogic</option>
            <option value="Push Gaming">Push Gaming</option>
            <option value="Bally Gaming">Bally Gaming</option>
            <option value="Barcrest">Barcrest</option>
            <option value="Shuffle Master">Shuffle Master</option>
            <option value="WMS">WMS</option>
            <option value="BetDigital">BetDigital</option>
            <option value="NextGen Gaming">NextGen Gaming</option>
            <option value="Side City Studios">Side City Studios</option>
            <option value="Lightning Box">Lightning Box</option>
            <option value="ELK Studios">ELK Studios</option>
            <option value="Big Time Gaming">Big Time Gaming</option>
            <option value="Green Tube">Green Tube</option>
            <option value="A">A</option>
          </select>
        </div>

        <div class="col-sm col-12 form__group">
          <label class="d-block mb-10">Type</label>
          
          <select class="form__control">
            <option value="">Desktop</option>
            <option value="" selected>Mogile</option>
          </select>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-sm-2 col-3">
            <label>Categories</label>
          </div>

          <div class="col">
            <select class="form__control js-select2" multiple>
              <option value="67">Top Games</option>
              <option value="70">New Stars</option>
              <option value="79">Live Roulette sub</option>
              <option value="78">Top live games sub</option>
              <option value="80">Live Blackjack sub</option>
              <option value="81">Live Baccarat sub</option>
              <option value="82">More Live Games sub</option>
              <option value="83">Quick play sub</option>
              <option value="102">VIP Live games sub</option>
              <option value="37">Jackpots</option>
              <option value="71">Wishmaker Likes sub</option>
              <option value="86">Best of Vegas sub</option>
              <option value="104">Wishmaker top 10 sub</option>
              <option value="105">New stars sub</option>
              <option value="106">Halloween top picks sub</option>
              <option value="107">Jackpots sub</option>
              <option value="108">Live Casino sub</option>
              <option value="39">Live Casino</option>
              <option value="66" selected="selected">All</option>
              <option value="84">VIP</option>
              <option value="85">Table Games</option>
              <option value="87">Video Slots</option>
              <option value="88">Classic Slots</option>
              <option value="90">3D Slots</option>
              <option value="91">Blackjack</option>
              <option value="92">Branded Slots</option>
              <option value="93">Card Games</option>
              <option value="94">Fruit Slots</option>
              <option value="95">High Roller Slots</option>
              <option value="96">Instant Wins</option>
              <option value="97">Pub Slots</option>
              <option value="98">Roulette</option>
              <option value="99">Vegas Slots</option>
              <option value="100">Video Poker</option>
              <option value="101">Live Games</option>
              <option value="110">Favourites</option>
            </select>
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-sm-2 col-3">
            <label>Features</label>
          </div>

          <div class="col">
            <select class="form__control js-select2" multiple>
              <option value="29">Sticky Wilds</option>
              <option value="30">Expanding Wilds</option>
              <option value="31">Stacked Wilds</option>
              <option value="32">Free Spins</option>
              <option value="33">Bonus Rounds</option>
              <option value="34">5 Paylines</option>
              <option value="35">10 Paylines</option>
              <option value="36">20 Paylines</option>
              <option value="37">25 Paylines</option>
              <option value="38">40 Paylines</option>
              <option value="39">50 Paylines</option>
              <option value="40">100 Paylines</option>
              <option value="41">All Ways Slots</option>
              <option value="42">Win Both Ways</option>
              <option value="43">3 Reels</option>
              <option value="44">5 Reels</option>
              <option value="45">5+ Reels</option>
              <option value="46">Tumbling Reels</option>
              <option value="47">Colossal Reels</option>
              <option value="48">Cluster Pays</option>
              <option value="60">Just Reels Action</option>
            </select>
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-sm-2 col-3">
            <label>Themes</label>
          </div>

          <div class="col">
            <select class="form__control js-select2" multiple>
              <option value="1">Oktoberfest</option>
              <option value="2">Halloween</option>
              <option value="3">Valentine's Day</option>
              <option value="4">Christmas</option>
              <option value="5">St. Patrick's Day</option>
              <option value="6">Easter</option>
              <option value="7">Chinese New Year</option>
              <option value="8">Summer</option>
              <option value="9">OMG</option>
              <option value="10">TV &amp; Film</option>
              <option value="11">Comedy</option>
            </select>
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-sm-2 col-3">
            <label>Restricted countries</label>
          </div>

          <div class="col">
            <select class="form__control js-select2" multiple>
              <option value="AL">Albania</option>
              <option value="AD">Andorra</option>
              <option value="AT">Austria</option>
              <option value="BH">Bahrain</option>
              <option value="BD">Bangladesh</option>
              <option value="BY">Belarus</option>
              <option value="BO">Bolivia, Plurinational State of</option>
              <option value="BA">Bosnia and Herzegovina</option>
              <option value="BN">Brunei Darussalam</option>
              <option value="CA">Canada</option>
              <option value="CL">Chile</option>
              <option value="CO">Colombia</option>
              <option value="HR">Croatia</option>
              <option value="FK">Falkland Islands (Malvinas)</option>
              <option value="FI">Finland</option>
              <option value="GE">Georgia</option>
              <option value="DE">Germany</option>
              <option value="GI">Gibraltar</option>
              <option value="GG">Guernsey</option>
              <option value="IS">Iceland</option>
              <option value="IE">Ireland</option>
              <option value="IM">Isle of Man</option>
              <option value="JP">Japan</option>
              <option value="JE">Jersey</option>
              <option value="KR">Korea, Republic of</option>
              <option value="LV">Latvia</option>
              <option value="LI">Liechtenstein</option>
              <option value="LT">Lithuania</option>
              <option value="LU">Luxembourg</option>
              <option value="MO">Macao</option>
              <option value="MK">Macedonia, the former Yugoslav Republic of</option>
              <option value="MT">Malta</option>
              <option value="MX">Mexico</option>
              <option value="MD">Moldova, Republic of</option>
              <option value="MC">Monaco</option>
              <option value="MN">Mongolia</option>
              <option value="NL">Netherlands</option>
              <option value="NZ">New Zealand</option>
              <option value="NO">Norway</option>
              <option value="PY">Paraguay</option>
              <option value="PE">Peru</option>
              <option value="QA">Qatar</option>
              <option value="RU">Russian Federation</option>
              <option value="SM">San Marino</option>
              <option value="RS">Serbia</option>
              <option value="LK">Sri Lanka</option>
              <option value="SE">Sweden</option>
              <option value="CH">Switzerland</option>
              <option value="TW">Taiwan, Province of China</option>
              <option value="TH">Thailand</option>
              <option value="UA">Ukraine</option>
              <option value="AE">United Arab Emirates</option>
              <option value="GB">United Kingdom</option>
              <option value="VN">Viet Nam</option>
            </select>
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-25">
    <div class="col-md-2 col-sm-4 form__group">
      <label class="d-block mb-10">External ID</label>

      <div class="form__row align-items-center">
        <div class="col">
          <input type="text" class="form__control" value="70229">
        </div>

        <div class="col-auto">
          <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
        </div>
      </div>
    </div>

    <div class="col-md-2 col-sm-4 form__group">
      <label class="d-block mb-10">APl ID</label>
      
      <div class="form__row align-items-center">
        <div class="col">
          <input type="text" class="form__control" value="70229">
        </div>

        <div class="col-auto">
          <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
        </div>
      </div>
    </div>

    <div class="col-md-2 col-sm-4 form__group">
      <label class="d-block mb-10">Game Ration</label>
      
      <select class="form__control">
        <option value="">1</option>
        <option value="">2</option>
        <option value="">3</option>
        <option value="" selected>4.3</option>
      </select>
    </div>

    <div class="col-md-2 col-sm-4 form__group">
      <label class="d-block mb-10">RTP</label>

      <div class="form__row align-items-center">
        <div class="col">
          <input type="text" class="form__control" value="70229">
        </div>

        <div class="col-auto">
          <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
        </div>
      </div>
    </div>

    <div class="col-md-2 col-sm-4 form__group">
      <label class="d-block mb-10">Min Bet</label>
      
      <div class="form__row align-items-center">
        <div class="col">
          <input type="text" class="form__control" value="70229">
        </div>

        <div class="col-auto">
          <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
        </div>
      </div>
    </div>

    <div class="col-md-2 col-sm-4 form__group">
      <label class="d-block mb-10">Max Bet</label>
      
      <div class="form__row align-items-center">
        <div class="col">
          <input type="text" class="form__control" value="70229">
        </div>

        <div class="col-auto">
          <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
        </div>
      </div>
    </div>

    <div class="col-md-2 col-sm-4 form__group">
      <label class="d-block mb-10">Paylines</label>

      <div class="form__row align-items-center">
        <div class="col">
          <input type="text" class="form__control" value="70229">
        </div>

        <div class="col-auto">
          <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
        </div>
      </div>
    </div>

    <div class="col-md-2 col-sm-4 form__group">
      <label class="d-block mb-10">Reels</label>
      
      <div class="form__row align-items-center">
        <div class="col">
          <input type="text" class="form__control" value="70229">
        </div>

        <div class="col-auto">
          <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
        </div>
      </div>
    </div>

    <div class="col-md-2 col-sm-4 form__group">
      <label class="d-block mb-10">Volatility</label>
      
      <div class="form__row align-items-center">
        <div class="col">
          <input type="text" class="form__control" value="70229">
        </div>

        <div class="col-auto">
          <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
        </div>
      </div>
    </div>

    <div class="col-md-2 col-sm-4 form__group">
      <label class="d-block mb-10">Max Win</label>
      
      <div class="form__row align-items-center">
        <div class="col">
          <input type="text" class="form__control" value="70229">
        </div>

        <div class="col-auto">
          <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
        </div>
      </div>
    </div>

    <div class="col-md-2 col-sm-4 form__group">
      <label class="d-block mb-10">Bonus Contribution</label>
      
      <div class="form__row align-items-center">
        <div class="col">
          <input type="text" class="form__control" value="70229">
        </div>

        <div class="col-auto">
          <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="form__group">
    <label class="d-block mb-10">Description</label>
    <textarea name="editor1" class="editor"></textarea>
  </div>

  <div class="form__group">
    <label class="d-block mb-10">Review</label>
    <textarea name="editor1" class="editor"></textarea>
  </div>


  <h3 class="mb-20">Images</h3>

  <div class="divider mb-sm-10"></div>

  <div class="row">
    <div class="col-lg-2 col-sm-3 col-6 my-15">
      <h4 class="mb-10 text-gray-700 font-weight-medium">Image</h4>
      <p class="mb-15 text-purple font-size-sm">Recomended size: 380x530px</p>
      <div class="mb-15">
        <input type="text" class="form__control form__control--sm" placeholder="Add alt tag">
      </div>

      <div class="preview position-relative text-center">
        <figure class="preview__thumb d-block mb-15 rounded overflow-hidden text-center position-relative">
          <a href="../dist/images/examples/kaiser-slots.png" class="preview__zoom d-flex justify-content-center align-items-center position-absolute">
            <i class="preview__zoom__icon wmd wmd-45 position-absolute"></i>
            <img src="../dist/images/examples/kaiser-slots.png" alt="">
          </a>
        </figure>

        <label class="form__custom-file mb-10">
          <input type="file" class="form__custom-file__input">
          <span class="form__custom-file__label text-center">choose file</span> <i class="wmd wmd-46 ml-10"></i>
        </label>

        <button type="button" class="preview__delete d-block w-100 text-center text-uppercase font-size-sm font-weight-medium">delete <i class="wmd wmd-31 ml-5"></i></button>
      </div>
    </div>

    <div class="col-lg-2 col-sm-3 col-6 my-15">
      <h4 class="mb-10 text-gray-700 font-weight-medium">Featured Image</h4>
      <p class="mb-15 text-purple font-size-sm">Recomended size: 380x530px</p>
      <div class="mb-15">
        <input type="text" class="form__control form__control--sm" placeholder="Add alt tag">
      </div>

      <div class="preview position-relative text-center">
        <figure class="preview__thumb d-block mb-15 rounded overflow-hidden text-center position-relative">
          <a href="../dist/images/examples/kaiser-slots.png" class="preview__zoom d-flex justify-content-center align-items-center position-absolute">
            <i class="preview__zoom__icon wmd wmd-45 position-absolute"></i>
            <img src="../dist/images/examples/kaiser-slots.png" alt="">
          </a>
        </figure>

        <label class="form__custom-file mb-10">
          <input type="file" class="form__custom-file__input">
          <span class="form__custom-file__label text-center">choose file</span> <i class="wmd wmd-46 ml-10"></i>
        </label>

        <button type="button" class="preview__delete d-block w-100 text-center text-uppercase font-size-sm font-weight-medium">delete <i class="wmd wmd-31 ml-5"></i></button>
      </div>
    </div>

    <div class="col-lg-2 col-sm-3 col-6 my-15">
      <h4 class="mb-10 text-gray-700 font-weight-medium">Background Image</h4>
      <p class="mb-15 text-purple font-size-sm">Recomended size: 380x530px</p>
      <div class="mb-15">
        <input type="text" class="form__control form__control--sm" placeholder="Add alt tag">
      </div>

      <div class="preview position-relative text-center">
        <figure class="preview__thumb d-block mb-15 rounded overflow-hidden text-center position-relative">
          <a href="../dist/images/examples/paysafe_04050008.svg" class="preview__zoom d-flex justify-content-center align-items-center position-absolute">
            <i class="preview__zoom__icon wmd wmd-45 position-absolute"></i>
            <img src="../dist/images/examples/paysafe_04050008.svg" alt="">
          </a>
        </figure>

        <label class="form__custom-file mb-10">
          <input type="file" class="form__custom-file__input">
          <span class="form__custom-file__label text-center">choose file</span> <i class="wmd wmd-46 ml-10"></i>
        </label>

        <button type="button" class="preview__delete d-block w-100 text-center text-uppercase font-size-sm font-weight-medium">delete <i class="wmd wmd-31 ml-5"></i></button>
      </div>
    </div>

    <div class="col-lg-2 col-sm-3 col-6 my-15">
      <h4 class="mb-10 text-gray-700 font-weight-medium">Review Image</h4>
      <p class="mb-15 text-purple font-size-sm">Recomended size: 380x530px</p>

      <div class="preview position-relative text-center">
        <label class="form__custom-file mb-10">
          <input type="file" class="form__custom-file__input">
          <span class="form__custom-file__label text-center">choose file</span> <i class="wmd wmd-46 ml-10"></i>
        </label>
      </div>
    </div>

    <div class="col-lg-2 col-sm-3 col-6 my-15">
      <h4 class="mb-10 text-gray-700 font-weight-medium">Icon Image</h4>
      <p class="mb-15 text-purple font-size-sm">Recomended size: 380x530px</p>

      <div class="preview position-relative text-center">
        <label class="form__custom-file mb-10">
          <input type="file" class="form__custom-file__input">
          <span class="form__custom-file__label text-center">choose file</span> <i class="wmd wmd-46 ml-10"></i>
        </label>
      </div>
    </div>
  </div>

  <div class="divider pt-sm-25 pt-20">
    <div class="row justify-content-sm-between">
      <div class="col-lg-4 col-sm-8 col-12">
        <div class="row">
          <div class="col-sm col-12 mb-sm-0 mb-10">
            <button type="submit" class="btn btn--orange btn--lg-round w-100"><i class="wmd wmd-21 mr-10"></i>save</button>
          </div>

          <div class="col-sm col-12 mb-sm-0 mb-10">
            <button type="button" class="btn btn--purple btn--lg-round w-100"><i class="wmd wmd-30 mr-10"></i>Duplicate</button>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-sm-4 col-12">
        <button type="button" class="btn btn--gray btn--lg-round w-100" data-toggle="modal" data-target="#confirmModdal"><i class="wmd wmd-31 mr-10"></i>Delete</button>
      </div>
    </div>
  </div>
</form>