<tr class="tr--card">
  <td data-card-title="Language Code" class="td--card td--card--half">@@code</td>
  <td data-card-title="Language" class="td--card td--card--half">@@language</td>
  <td data-card-title="Flag Image" class="td--card td--card--half text-center"><img width="35" src="@@image" alt=""></td>
  <td data-card-title="API ID" class="td--card td--card--half text-center">@@api</td>
  <td data-card-title="Enabled" class="td--card td--card--half text-center">@@enabled</td>
  <td data-card-title="Enabled on Front End?" class="td--card td--card--half text-center">@@enabledfont</td>
  <td class="td--card td--card--full td--card-text-center text-center"><a href="edit-content-languages.html" class="btn btn--outline-gray btn--sm-round">edit</a></td>
</tr>