<form>
  <div class="row">
    <div class="col-md-6 col-12 mb-25">
      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-3">
            <label>Title</label>
          </div>

          <div class="col">
            <input type="text" class="form__control">
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-3">
            <label>Short Description</label>
          </div>

          <div class="col">
            <input type="text" class="form__control">
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row form__row--align-top">
          <div class="col-3">
            <label>Price in Wish Coins</label>
          </div>

          <div class="col">
            <input type="number" class="form__control">
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-12 mb-25">
      <div class="form__group--checks mb-sm-15">
        <div class="row">
          <div class="col-sm col-12 mb-sm-15">
            <div class="form__row align-items-center">
              <div class="col-sm-12 col">
                <label class="d-block mb-5 text-nowrap">Featured</label>
              </div>

              <div class="col-sm-12 col-auto">
                <label class="form__custom-check">
                  <input type="checkbox" class="form__custom-check__input" checked>
                  <span class="form__custom-check__control"></span>
                </label>
              </div>
            </div>
          </div>

          <div class="col-12 d-sm-none">
            <div class="divider my-5 w-100"></div>
          </div>


          <div class="col-sm col-12 mb-sm-15">
            <div class="form__row align-items-center">
              <div class="col-sm-12 col">
                <label class="d-block mb-5 text-nowrap">Enabled</label>
              </div>

              <div class="col-sm-12 col-auto">
                <label class="form__custom-check">
                  <input type="checkbox" class="form__custom-check__input">
                  <span class="form__custom-check__control"></span>
                </label>
              </div>
            </div>
          </div>

          <div class="col-12 d-sm-none">
            <div class="divider my-5 w-100"></div>
          </div>


          <div class="col-sm col-12 mb-sm-15">
            <div class="form__row align-items-center">
              <div class="col-sm-12 col">
                <label class="d-block mb-5 text-nowrap">Countdown Timer</label>
              </div>

              <div class="col-sm-12 col-auto">
                <label class="form__custom-check">
                  <input type="checkbox" class="form__custom-check__input">
                  <span class="form__custom-check__control"></span>
                </label>
              </div>
            </div>
          </div>

          <div class="col-12 d-sm-none">
            <div class="divider my-5 w-100"></div>
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-sm-auto col">
            <label class="d-block mb-5">Can only be claimed once per player?</label>
          </div>

          <div class="col-sm col-auto">
            <label class="form__custom-check">
              <input type="checkbox" class="form__custom-check__input">
              <span class="form__custom-check__control"></span>
            </label>
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-3">
            <label>Expiry date / time</label>
          </div>

          <div class="col">
            <input type="text" class="form__control form_datetime" value="2018-10-01 01:00">
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-12 mb-25 order-md-2">
      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-3">
            <label>Country availability</label>
          </div>

          <div class="col">
            <select class="form__control js-select2" multiple>
              <option value="AL">Albania</option>
              <option value="AD">Andorra</option>
              <option value="AT">Austria</option>
              <option value="BH">Bahrain</option>
              <option value="BD">Bangladesh</option>
              <option value="BY">Belarus</option>
              <option value="BO">Bolivia, Plurinational State of</option>
              <option value="BA">Bosnia and Herzegovina</option>
              <option value="BN">Brunei Darussalam</option>
              <option value="CA">Canada</option>
              <option value="CL">Chile</option>
              <option value="CO">Colombia</option>
              <option value="HR">Croatia</option>
              <option value="FK">Falkland Islands (Malvinas)</option>
              <option value="FI">Finland</option>
              <option value="GE">Georgia</option>
              <option value="DE">Germany</option>
              <option value="GI">Gibraltar</option>
              <option value="GG">Guernsey</option>
              <option value="IS">Iceland</option>
              <option value="IE">Ireland</option>
              <option value="IM">Isle of Man</option>
              <option value="JP">Japan</option>
              <option value="JE">Jersey</option>
              <option value="KR">Korea, Republic of</option>
              <option value="LV">Latvia</option>
              <option value="LI">Liechtenstein</option>
              <option value="LT">Lithuania</option>
              <option value="LU">Luxembourg</option>
              <option value="MO">Macao</option>
              <option value="MK">Macedonia, the former Yugoslav Republic of</option>
              <option value="MT">Malta</option>
              <option value="MX">Mexico</option>
              <option value="MD">Moldova, Republic of</option>
              <option value="MC">Monaco</option>
              <option value="MN">Mongolia</option>
              <option value="NL">Netherlands</option>
              <option value="NZ">New Zealand</option>
              <option value="NO">Norway</option>
              <option value="PY">Paraguay</option>
              <option value="PE">Peru</option>
              <option value="QA">Qatar</option>
              <option value="RU">Russian Federation</option>
              <option value="SM">San Marino</option>
              <option value="RS">Serbia</option>
              <option value="LK">Sri Lanka</option>
              <option value="SE">Sweden</option>
              <option value="CH">Switzerland</option>
              <option value="TW">Taiwan, Province of China</option>
              <option value="TH">Thailand</option>
              <option value="UA">Ukraine</option>
              <option value="AE">United Arab Emirates</option>
              <option value="GB">United Kingdom</option>
              <option value="VN">Viet Nam</option>
            </select>
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-12 mb-25 order-md-1">
      <div class="form__group">
        <div class="form__row form__row--align-top">
          <div class="col-3">
            <label>Type</label>
          </div>

          <div class="col">
            <select class="form__control js-select2 js-items-type">
              <option value=""></option>
              <option value="luckygem">Lucky Gem</option>
              <option value="freespin">Free Spin</option>
              <option value="wishspin">Wish Spin</option>
              <option value="bonus">Bonus</option>
              <option value="cash">Cash</option>
              <option value="scratchcards">Scratch Cards</option>
              <option value="merchandise">Merchandise</option>
              <option value="wish">Wish</option>
              <option value="communitywish">Community Wish</option>
              <option value="charitywish">Charity Wish</option>
            </select>
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-content js-items-tab-content">
    <div class="tab-pane" id="luckygem" role="tabpanel">
      <div class="row">
        <div class="col-md-6 col-12 mb-25">
          <div class="form__group">
            <div class="form__row form__row--align-top">
              <div class="col-3">
                <label>Bonuses</label>
              </div>

              <div class="col">
                <select class="form__control js-select2">
                  <option value=""></option>
                  <option value="">Bonus 1</option>
                  <option value="">Bonus 2</option>
                  <option value="">Bonus 3</option>
                  <option value="">Bonus 4</option>
                  <option value="">Bonus 5</option>
                  <option value="">Bonus 6</option>
                  <option value="">Bonus 7</option>
                </select>
              </div>

              <div class="col-auto">
                <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="freespin" role="tabpanel">
      <div class="row">
        <div class="col-md-6 col-12 mb-25">
          <div class="form__group">
            <div class="form__row form__row--align-top">
              <div class="col-3">
                <label>Bonuses</label>
              </div>

              <div class="col">
                <select class="form__control js-select2">
                  <option value=""></option>
                  <option value="">Bonus 1</option>
                  <option value="">Bonus 2</option>
                  <option value="">Bonus 3</option>
                  <option value="">Bonus 4</option>
                  <option value="">Bonus 5</option>
                  <option value="">Bonus 6</option>
                  <option value="">Bonus 7</option>
                </select>
              </div>

              <div class="col-auto">
                <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-12 mb-25">
          <div class="row align-items-center">
            <div class="col-md-auto col-sm-3 col-12">
              <div class="form__row align-items-center">
                <div class="col-sm-auto">
                  <label class="d-block mb-5">Auto-Launch</label>
                </div>

                <div class="col">
                  <label class="form__custom-check">
                    <input type="checkbox" class="form__custom-check__input">
                    <span class="form__custom-check__control"></span>
                  </label>
                </div>
              </div>
            </div>

            <div class="col-sm col-12">
              <div class="form__group">
                <div class="form__row form__row--align-top">
                  <div class="col-3">
                    <label>Game ID</label>
                  </div>

                  <div class="col">
                    <input type="number" class="form__control">
                  </div>

                  <div class="col-auto">
                    <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form__group mb-25">
        <label class="d-block mb-10">Terms and Conditions</label>
        <textarea name="editor1" class="editor"></textarea>
      </div>
    </div>

    <div class="tab-pane" id="wishspin" role="tabpanel">
      <div class="row">
        <div class="col-md-6 col-12 mb-25">
          <div class="form__group">
            <div class="form__row form__row--align-top">
              <div class="col-3">
                <label>Bonuses</label>
              </div>

              <div class="col">
                <select class="form__control js-select2">
                  <option value=""></option>
                  <option value="">Bonus 1</option>
                  <option value="">Bonus 2</option>
                  <option value="">Bonus 3</option>
                  <option value="">Bonus 4</option>
                  <option value="">Bonus 5</option>
                  <option value="">Bonus 6</option>
                  <option value="">Bonus 7</option>
                </select>
              </div>

              <div class="col-auto">
                <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-12 mb-25">
          <div class="row align-items-center">
            <div class="col-md-auto col-sm-3 col-12">
              <div class="form__row align-items-center">
                <div class="col-sm-auto">
                  <label class="d-block mb-5">Auto-Launch</label>
                </div>

                <div class="col">
                  <label class="form__custom-check">
                    <input type="checkbox" class="form__custom-check__input">
                    <span class="form__custom-check__control"></span>
                  </label>
                </div>
              </div>
            </div>

            <div class="col-sm col-12">
              <div class="form__group">
                <div class="form__row form__row--align-top">
                  <div class="col-3">
                    <label>Game ID</label>
                  </div>

                  <div class="col">
                    <input type="number" class="form__control">
                  </div>

                  <div class="col-auto">
                    <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form__group mb-25">
        <label class="d-block mb-10">Terms and Conditions</label>
        <textarea name="editor1" class="editor"></textarea>
      </div>
    </div>

    <div class="tab-pane" id="bonus" role="tabpanel">
      <div class="row">
        <div class="col-md-6 col-12 mb-25">
          <div class="form__group">
            <div class="form__row form__row--align-top">
              <div class="col-3">
                <label>Bonuses</label>
              </div>

              <div class="col">
                <select class="form__control js-select2">
                  <option value=""></option>
                  <option value="">Bonus 1</option>
                  <option value="">Bonus 2</option>
                  <option value="">Bonus 3</option>
                  <option value="">Bonus 4</option>
                  <option value="">Bonus 5</option>
                  <option value="">Bonus 6</option>
                  <option value="">Bonus 7</option>
                </select>
              </div>

              <div class="col-auto">
                <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-12 mb-25">
          <div class="form__group">
            <div class="form__row form__row--align-top">
              <div class="col-3">
                <label>Amount</label>
              </div>

              <div class="col">
                <input type="number" class="form__control">
              </div>

              <div class="col-auto">
                <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form__group mb-25">
        <label class="d-block mb-10">Terms and Conditions</label>
        <textarea name="editor1" class="editor"></textarea>
      </div>
    </div>

    <div class="tab-pane" id="cash" role="tabpanel">
      <div class="row">
        <div class="col-md-6 col-12 mb-25">
          <div class="form__group">
            <div class="form__row form__row--align-top">
              <div class="col-3">
                <label>Bonuses</label>
              </div>

              <div class="col">
                <select class="form__control js-select2">
                  <option value=""></option>
                  <option value="">Bonus 1</option>
                  <option value="">Bonus 2</option>
                  <option value="">Bonus 3</option>
                  <option value="">Bonus 4</option>
                  <option value="">Bonus 5</option>
                  <option value="">Bonus 6</option>
                  <option value="">Bonus 7</option>
                </select>
              </div>

              <div class="col-auto">
                <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-12 mb-25">
          <div class="form__group">
            <div class="form__row form__row--align-top">
              <div class="col-3">
                <label>Amount</label>
              </div>

              <div class="col">
                <input type="number" class="form__control">
              </div>

              <div class="col-auto">
                <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form__group mb-25">
        <label class="d-block mb-10">Terms and Conditions</label>
        <textarea name="editor1" class="editor"></textarea>
      </div>
    </div>

    <div class="tab-pane" id="scratchcards" role="tabpanel">
      <div class="row">
        <div class="col-md-6 col-12 mb-25">
          <div class="form__group">
            <div class="form__row form__row--align-top">
              <div class="col-3">
                <label>Bonuses</label>
              </div>

              <div class="col">
                <select class="form__control js-select2">
                  <option value=""></option>
                  <option value="">Bonus 1</option>
                  <option value="">Bonus 2</option>
                  <option value="">Bonus 3</option>
                  <option value="">Bonus 4</option>
                  <option value="">Bonus 5</option>
                  <option value="">Bonus 6</option>
                  <option value="">Bonus 7</option>
                </select>
              </div>

              <div class="col-auto">
                <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-12 mb-25">
          <div class="row align-items-center">
            <div class="col-md-auto col-sm-3 col-12">
              <div class="form__row align-items-center">
                <div class="col-sm-auto">
                  <label class="d-block mb-5">Auto-Launch</label>
                </div>

                <div class="col">
                  <label class="form__custom-check">
                    <input type="checkbox" class="form__custom-check__input">
                    <span class="form__custom-check__control"></span>
                  </label>
                </div>
              </div>
            </div>

            <div class="col-sm col-12">
              <div class="form__group">
                <div class="form__row form__row--align-top">
                  <div class="col-3">
                    <label>Game ID</label>
                  </div>

                  <div class="col">
                    <input type="number" class="form__control">
                  </div>

                  <div class="col-auto">
                    <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form__group mb-25">
        <label class="d-block mb-10">Terms and Conditions</label>
        <textarea name="editor1" class="editor"></textarea>
      </div>
    </div>

    <div class="tab-pane" id="merchandise" role="tabpanel">
      <div class="row">
        <div class="col-md-6 col-12 mb-25">
          <div class="form__group">
            <div class="form__row form__row--align-top">
              <div class="col-3">
                <label>Merchandise Types</label>
              </div>

              <div class="col">
                <select class="form__control js-select2">
                  <option value=""></option>
                  <option value="">Types 1</option>
                  <option value="">Types 2</option>
                  <option value="">Types 3</option>
                  <option value="">Types 4</option>
                  <option value="">Types 5</option>
                  <option value="">Types 6</option>
                  <option value="">Types 7</option>
                </select>
              </div>

              <div class="col-auto">
                <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
              </div>
            </div>
          </div>

          <div class="form__group">
            <div class="form__row align-items-center">
              <div class="col-3">
                <label>Specific Merchandise Type</label>
              </div>

              <div class="col">
                <input type="text" class="form__control">
              </div>

              <div class="col-auto">
                <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-12 mb-25">
          <div class="form__group">
            <div class="form__row form__row--align-top">
              <div class="col-3">
                <label>Starting stock</label>
              </div>

              <div class="col">
                <input type="number" class="form__control">
              </div>

              <div class="col-auto">
                <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
              </div>
            </div>
          </div>

          <div class="form__group">
            <div class="form__row form__row--align-top">
              <div class="col-3">
                <label>Current stock</label>
              </div>

              <div class="col">
                <input type="number" class="form__control">
              </div>

              <div class="col-auto">
                <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="communitywish" role="tabpanel">
      <div class="row">
        <div class="col-md-6 col-12 mb-25">
          <div class="form__group">
            <div class="form__row align-items-center">
              <div class="col-3">
                <label>Total amount of Wish Coins required</label>
              </div>

              <div class="col">
                <input type="number" class="form__control">
              </div>

              <div class="col-auto">
                <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-12 mb-25">

          <div class="form__group">
            <div class="form__row align-items-center">
              <div class="col-3">
                <label>When # players deposited</label>
              </div>

              <div class="col">
                <input type="number" class="form__control">
              </div>

              <div class="col-auto">
                <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="charitywish" role="tabpanel">
      <div class="row">
        <div class="col-md-6 col-12 mb-25">
          <div class="form__group">
            <div class="form__row align-items-center">
              <div class="col-3">
                <label>Total amount of Wish Coins donated </label>
              </div>

              <div class="col">
                <input type="text" class="form__control">
              </div>

              <div class="col-auto">
                <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-12 mb-25">
          <div class="form__group">
            <div class="form__row align-items-center">
              <div class="col-3">
                <label>Players to Wish Coins donated</label>
              </div>

              <div class="col">
                <input type="text" class="form__control">
              </div>

              <div class="col-auto">
                <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <h3 class="mb-20">Gamification Criteria</h3>

  <div class="row">
    <div class="col-sm-3 col-12 form__group">
      <label class="d-block mb-10">Minimum Player Level</label>

      <div class="form__row align-items-center">
        <div class="col">
          <input type="number" class="form__control" value="70229">
        </div>

        <div class="col-auto">
          <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
        </div>
      </div>
    </div>

    <div class="col-sm-3 col-12 form__group">
      <label class="d-block mb-10">Minimum Player Points</label>

      <div class="form__row align-items-center">
        <div class="col">
          <input type="number" class="form__control" value="70229">
        </div>

        <div class="col-auto">
          <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
        </div>
      </div>
    </div>

    <div class="col-sm-3 col-12 form__group">
      <label class="d-block mb-10">Minimum Wish Coin Balance</label>

      <div class="form__row align-items-center">
        <div class="col">
          <input type="number" class="form__control" value="70229">
        </div>

        <div class="col-auto">
          <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
        </div>
      </div>
    </div>

    <div class="col-sm-3 col-12 form__group">
      <label class="d-block mb-10">Required Trophies</label>

      <div class="form__row align-items-center">
        <div class="col">
          <select class="form__control js-select2">
            <option value=""></option>
            <option value="">Trophies 1</option>
            <option value="">Trophies 2</option>
            <option value="">Trophies 3</option>
            <option value="">Trophies 4</option>
            <option value="">Trophies 5</option>
            <option value="">Trophies 6</option>
          </select>
        </div>

        <div class="col-auto">
          <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
        </div>
      </div>
    </div>
  </div>

  <div class="form__group">
    <label class="d-block mb-10">Long Description</label>
    <textarea name="editor1" class="editor"></textarea>
  </div>

  <div class="form__group">
    <label class="d-block mb-10">Terms and Conditions</label>
    <textarea name="editor1" class="editor"></textarea>
  </div>

  <h3 class="mb-20">Images</h3>

  <div class="divider mb-sm-10"></div>

  <div class="row">
    <div class="col-lg-2 col-sm-3 col-6 my-15">
      <h4 class="mb-10 text-gray-700 font-weight-medium">Image</h4>
      <p class="mb-15 text-purple font-size-sm">Recomended size: 380x530px</p>
      <div class="mb-15">
        <input type="text" class="form__control form__control--sm" placeholder="Add alt tag">
      </div>

      <div class="preview position-relative text-center">
        <figure class="preview__thumb d-inline-block mb-15 rounded overflow-hidden text-center">
          <a href="../dist/images/examples/kaiser-slots.png" class="preview__zoom d-block position-relative">
            <i class="preview__zoom__icon wmd wmd-45 position-absolute"></i>
            <img src="../dist/images/examples/kaiser-slots.png" alt="">
          </a>
        </figure>

        <label class="form__custom-file mb-10">
          <input type="file" class="form__custom-file__input">
          <span class="form__custom-file__label text-center">choose file</span> <i class="wmd wmd-46 ml-10"></i>
        </label>

        <button type="button" class="preview__delete d-block w-100 text-center text-uppercase font-size-sm font-weight-medium">delete <i class="wmd wmd-31 ml-5"></i></button>
      </div>
    </div>
  </div>

  <div class="divider pt-sm-25 pt-20">
    <div class="row justify-content-sm-between">
      <div class="col-lg-4 col-sm-8 col-12">
        <div class="row">
          <div class="col-sm col-12 mb-sm-0 mb-10">
            <button type="submit" class="btn btn--orange btn--lg-round w-100"><i class="wmd wmd-21 mr-10"></i>save</button>
          </div>

          <div class="col-sm col-12 mb-sm-0 mb-10">
            <button type="button" class="btn btn--purple btn--lg-round w-100"><i class="wmd wmd-30 mr-10"></i>Duplicate</button>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-sm-4 col-12">
        <button type="button" class="btn btn--gray btn--lg-round w-100" data-toggle="modal" data-target="#confirmModdal"><i class="wmd wmd-31 mr-10"></i>Delete</button>
      </div>
    </div>
  </div>
</form>