<form>
  <div class="row">
    <div class="col-md-6 col-12 mb-25">
      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-sm-2 col-3">
            <label>Title</label>
          </div>

          <div class="col">
            <input type="text" class="form__control">
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-sm-2 col-3">
            <label>Meta Title</label>
          </div>

          <div class="col">
            <input type="text" class="form__control">
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-sm-2 col-3">
            <label>Meta Description</label>
          </div>

          <div class="col">
            <input type="text" class="form__control">
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-12 mb-25">
      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-sm-2 col">
            <label class="d-block">Enabled</label>
          </div>

          <div class="col-sm col-auto">
            <label class="form__custom-check">
              <input type="checkbox" class="form__custom-check__input" checked>
              <span class="form__custom-check__control"></span>
            </label>
          </div>
        </div>
      </div>

      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-sm-2 col-3">
            <label>Blog Categories</label>
          </div>

          <div class="col">
            <select class="form__control">
              <option value="4">New Games</option>
              <option value="5">Rewards</option>
              <option value="7">Winners</option>
              <option value="9" selected="selected">Wishmaker World</option>
            </select>
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form__group">
    <label class="d-block mb-10">Description</label>
    <textarea name="editor2" class="editor"></textarea>
  </div>

  <h3 class="mb-20">Images</h3>

  <div class="divider mb-sm-10"></div>

  <div class="row">
    <div class="col-lg-2 col-sm-3 col-6 my-15">
      <h4 class="mb-10 text-gray-700 font-weight-medium">Image</h4>
      <p class="mb-15 text-purple font-size-sm">Recomended size: 380x530px</p>
      <div class="mb-15">
        <input type="text" class="form__control form__control--sm" placeholder="Add alt tag">
      </div>

      <div class="preview position-relative text-center">
        <figure class="preview__thumb d-inline-block mb-15 rounded overflow-hidden text-center">
          <a href="../dist/images/examples/kaiser-slots.png" class="preview__zoom d-block position-relative">
            <i class="preview__zoom__icon wmd wmd-45 position-absolute"></i>
            <img src="../dist/images/examples/kaiser-slots.png" alt="">
          </a>
        </figure>

        <label class="form__custom-file mb-10">
          <input type="file" class="form__custom-file__input">
          <span class="form__custom-file__label text-center">choose file</span> <i class="wmd wmd-46 ml-10"></i>
        </label>

        <button type="button" class="preview__delete d-block w-100 text-center text-uppercase font-size-sm font-weight-medium">delete <i class="wmd wmd-31 ml-5"></i></button>
      </div>
    </div>

    <div class="col-lg-2 col-sm-3 col-6 my-15">
      <h4 class="mb-10 text-gray-700 font-weight-medium">Background</h4>
      <p class="mb-15 text-purple font-size-sm">Recomended size: 380x530px</p>
      <div class="mb-15">
        <input type="text" class="form__control form__control--sm" placeholder="Add alt tag">
      </div>

      <div class="preview position-relative text-center">
        <figure class="preview__thumb d-inline-block mb-15 rounded overflow-hidden text-center">
          <a href="../dist/images/examples/kaiser-slots.png" class="preview__zoom d-block position-relative">
            <i class="preview__zoom__icon wmd wmd-45 position-absolute"></i>
            <img src="../dist/images/examples/kaiser-slots.png" alt="">
          </a>
        </figure>

        <label class="form__custom-file mb-10">
          <input type="file" class="form__custom-file__input">
          <span class="form__custom-file__label text-center">choose file</span> <i class="wmd wmd-46 ml-10"></i>
        </label>

        <button type="button" class="preview__delete d-block w-100 text-center text-uppercase font-size-sm font-weight-medium">delete <i class="wmd wmd-31 ml-5"></i></button>
      </div>
    </div>
  </div>

  <div class="divider pt-sm-25 pt-20">
    <div class="row justify-content-sm-between">
      <div class="col-lg-4 col-sm-8 col-12">
        <div class="row">
          <div class="col-sm col-12 mb-sm-0 mb-10">
            <button type="submit" class="btn btn--orange btn--lg-round w-100"><i class="wmd wmd-21 mr-10"></i>save</button>
          </div>

          <div class="col-sm col-12 mb-sm-0 mb-10">
            <button type="button" class="btn btn--purple btn--lg-round w-100"><i class="wmd wmd-30 mr-10"></i>Duplicate</button>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-sm-4 col-12">
        <button type="button" class="btn btn--gray btn--lg-round w-100" data-toggle="modal" data-target="#confirmModdal"><i class="wmd wmd-31 mr-10"></i>Delete</button>
      </div>
    </div>
  </div>
</form>