<tr class="tr--card">
  <td data-card-title="Title" class="td--card td--card--half">@@title</td>
  <td data-card-title="Category" class="td--card td--card--half">@@category</td>
  <td data-card-title="Date" class="td--card td--card--half">@@date</td>
  <td data-card-title="Enabled" class="td--card td--card--half text-center">@@enabled</td>
  <td class="td--card td--card--full td--card-text-center text-center"><a href="edit-blog-posts.html" class="btn btn--outline-gray btn--sm-round">edit</a></td>
</tr>