<div class="modal fade" id="editLinkModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="p-15">
        <h3 class="h2-sm h1-rem mb-25">Add New Menu Link</h3>

	      <div class="row">
			    <div class="col-lg-6 col-12 mb-25">
			      <div class="form__group">
			        <div class="form__row align-items-center">
			          <div class="col-3">
			            <label>Anchor</label>
			          </div>

			          <div class="col">
			            <input type="text" class="form__control">
			          </div>

			          <div class="col-auto">
			            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
			          </div>
			        </div>
			      </div>

			      <div class="form__group">
			        <div class="form__row align-items-center">
			          <div class="col-3">
			            <label>URL</label>
			          </div>

			          <div class="col">
			            <input type="text" class="form__control">
			          </div>

			          <div class="col-auto">
			            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
			          </div>
			        </div>
			      </div>

			      <div class="form__group">
			        <div class="form__row align-items-center">
			          <div class="col-3">
			            <label>Title tag</label>
			          </div>

			          <div class="col">
			            <input type="text" class="form__control">
			          </div>

			          <div class="col-auto">
			            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
			          </div>
			        </div>
			      </div>
			    </div>

			    <div class="col-lg-6 col-12 mb-25">
			    	<div class="form__group form__group--checks mb-15">
			        <div class="row">
			          <div class="col-lg col-12">
			            <div class="form__row align-items-center">
			              <div class="col-lg-12 col">
			                <label class="d-block mb-5">No follow</label>
			              </div>

			              <div class="col-lg-12 col-auto">
			                <label class="form__custom-check">
			                  <input type="checkbox" class="form__custom-check__input" checked>
			                  <span class="form__custom-check__control"></span>
			                </label>
			              </div>
			            </div>
			          </div>

			          <div class="col-12 d-lg-none">
			            <div class="divider my-5 w-100"></div>
			          </div>

			          <div class="col-lg col-12">
			            <div class="form__row align-items-center">
			              <div class="col-lg-12 col">
			                <label class="d-block mb-5">New Tab</label>
			              </div>

			              <div class="col-lg-12 col-auto">
			                <label class="form__custom-check">
			                  <input type="checkbox" class="form__custom-check__input">
			                  <span class="form__custom-check__control"></span>
			                </label>
			              </div>
			            </div>
			          </div>
			        </div>
			      </div>

			      <div class="form__group">
			        <div class="form__row align-items-center">
			          <div class="col-3">
			            <label>Css Class</label>
			          </div>

			          <div class="col">
			            <input type="text" class="form__control">
			          </div>

			          <div class="col-auto">
			            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
			          </div>
			        </div>
			      </div>

			      <div class="form__group">
			        <div class="form__row align-items-center">
			          <div class="col-3">
			            <label>ID attribute</label>
			          </div>

			          <div class="col">
			            <input type="text" class="form__control">
			          </div>

			          <div class="col-auto">
			            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
			          </div>
			        </div>
			      </div>
			    </div>
			  </div>

			  <div class="row justify-content-sm-between mt-10">
		      <div class="col-sm col-12 mb-sm-0 mb-10">
		        <button type="submit" class="btn btn--orange btn--lg-round w-100"><i class="wmd wmd-21 mr-10"></i>save</button>
		      </div>

          <div class="col-sm col-12 mb-sm-0 mb-10">
            <button type="button" class="btn btn--gray btn--lg-round w-100" data-toggle="modal" data-target="#confirmModdal" data-dismiss="modal"><i class="wmd wmd-31 mr-10"></i>Delete</button>
          </div>

		      <div class="col-sm col-12">
		      	<button class="btn btn--outline-gray btn--lg-round w-100" data-dismiss="modal"><i class="wmd wmd-23 mr-15"></i> cancel</button>
		      </div>
		    </div>
      </div>
    </div>
  </div>
</div>