
<div class="dropdown col p-0">
  <button type="button" class="btn btn--purple dropdown-toggle position-relative pr-15 w-100 text-left border-0" data-flip="false" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
    <i class="wmd wmd-48 mr-5 align-middle"></i>
    <span class="align-middle">@@title</span>
    <i class="wmd wmd-25 ml-15 align-middle float-right mt-5"></i>
  </button>
  <div class="dropdown-menu dropdown-menu-left font-size-sm">
	@@loop('dropdown-items/filter-item.html', [
		{"label" : "Option 1"},
		{"label" : "Option 2"},
		{"label" : "Option 3"},
		{"label" : "Option 4"},
		{"label" : "Option 5"},
		{"label" : "Option 6"},
		{"label" : "Option 7"},
		{"label" : "Option 8"},
		{"label" : "Option 9"},
		{"label" : "Option 10"}
	])
  </div>
</div>