<div class="modal fade" id="editTooptipModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="pb-sm-46 pb-30 pt-20 px-20">

        <div class="text-right mb-10">
          <button class="close" data-dismiss="modal"><i class="wmd wmd-4 align-middle"></i></button>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-11 px-xl-10 text-center">
            <h3 class="h2-sm h1-rem mb-25">Edit tooltip</h3>
            <form action="">
              <div class="form__send-mail">
                <div class="row">
                  <div class="col-sm col-12">
                    <input type="text" class="form__send-mail__control" placeholder="This field is for Title">
                  </div>
                  <div class="col-sm-4 col-12">
                    <button type="submit" class="btn btn--orange btn--lg-round w-100">save</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>