<div class="table-responsive-shadow">
  <div class="table-responsive">
    <table class="table table--striped table--rounded">
      <thead class="thead--light">
        <tr>
          <th>Title</th>
          <th class="text-center">Enabled</th>
          <th class="text-center">Featured</th>
          <th class="text-center">API ID</th>
          <th class="text-center">Provider</th>
          <th class="text-center">Type</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Fairy Gate</td>
          <td class="text-center">Yes</td>
          <td class="text-center">Yes</td>
          <td class="text-center">545 234</td>
          <td class="text-center">Fairy Gate</td>
          <td class="text-center"><i class="wmd wmd-17"></i></td>
        </tr>
        <tr>
          <td>Fairy Gate</td>
          <td class="text-center">Yes</td>
          <td class="text-center">Yes</td>
          <td class="text-center">45 234</td>
          <td class="text-center">Gonzo's Quest</td>
          <td class="text-center"><i class="wmd wmd-18"></i></td>
        </tr>
        <tr>
          <td>Fairy Gate</td>
          <td class="text-center">Yes</td>
          <td class="text-center">Yes</td>
          <td class="text-center">545 234</td>
          <td class="text-center">Fortunes of the Dead</td>
          <td class="text-center"><i class="wmd wmd-17"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>