<header class="header bg-353d4a w-100 px-15">
  <div class="row align-items-center">
    <div class="col-auto header__col">
      <button class="header__btn-menu header-height js-nav-toggle position-relative"><span></span></button>
    </div>

    <div class="col-sm col-auto text-center">
      <a href="" class="d-sm-inline d-none"><img src="../dist/images/logos/logo-wiki.svg" alt=""></a>                    
      <a href="" class="d-sm-none"><img src="../dist/images/logos/logo-mobile.svg" alt=""></a>                    
    </div>

    <div class="col-sm col-auto ml-auto header__col pr-0">
      <div class="header__tools text-right text-white">
        <button class="header__tools__item header-height px-20" data-toggle="collapse" data-target="#search" aria-expanded="@@search-open">
          <i class="wmd wmd-1 aria-false"></i>
          <i class="wmd wmd-4 aria-true"></i>
        </button>
      </div>
    </div>
  </div>
</header>