<header class="header bg-gray-800 w-100 px-15">
  <div class="row align-items-center">
    <div class="col-auto header__col">
      <button class="header__btn-menu header-height js-nav-toggle position-relative"><span></span></button>
    </div>

    <div class="col-sm col-auto text-center">
      <a href="" class="d-sm-inline d-none"><img src="../dist/images/logos/logo.png" alt=""></a>                    
      <a href="" class="d-sm-none"><img src="../dist/images/logos/logo-mobile.png" alt=""></a>
    </div>

    <div class="col-auto header__col">
      <div class="header__tools d-flex align-items-center text-white">
        <p class="header__tools__time col-auto text-uppercase text-right">Server time<br>10-05-06 09:55:00</p>
        <button class="header__tools__item header-height col p-0" data-toggle="collapse" data-target="#search" aria-expanded="@@search-open">
          <i class="wmd wmd-1 aria-false"></i>
          <i class="wmd wmd-4 aria-true"></i>
        </button>

        <div class="dropdown col p-0">
          <button class="header__tools__item header__tools__item--has-notify header-height dropdown-toggle w-100 position-relative" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="wmd wmd-2"></i> </button>
          <div class="dropdown-menu dropdown-menu-center dropdown-menu-right font-size-sm">
            <a class="dropdown-item dropdown-has-icon active" href=""><i class="dropdown-icon wmd wmd-13"></i>
              Notification Title
              <span class="d-block header__tools__notify--date mt-5">Oct 02.2018</span>
            </a>
            <a class="dropdown-item dropdown-has-icon active" href=""><i class="dropdown-icon wmd wmd-14"></i>
              Notification Title
              <span class="d-block header__tools__notify--date mt-5">Oct 02.2018</span>
            </a>
            <a class="dropdown-item dropdown-has-icon" href=""><i class="dropdown-icon wmd wmd-15"></i>
              Notification Title
              <span class="d-block header__tools__notify--date mt-5">Oct 02.2018</span>
            </a>
            <a class="dropdown-item dropdown-has-icon" href=""><i class="dropdown-icon wmd wmd-16"></i>
              Notification Title
              <span class="d-block header__tools__notify--date mt-5">Oct 02.2018</span>
            </a>
            <a class="dropdown-item dropdown-has-icon" href=""><i class="dropdown-icon wmd wmd-14"></i>
              Notification Title
              <span class="d-block header__tools__notify--date mt-5">Oct 02.2018</span>
            </a>
          </div>
        </div>

        <div class="dropdown col p-0">
          <button class="header__tools__item header-height dropdown-toggle w-100" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="wmd wmd-3"></i></button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item dropdown-has-icon active" href=""><i class="dropdown-icon wmd wmd-10"></i>Dashboard</a>
            <a class="dropdown-item dropdown-has-icon" href=""><i class="dropdown-icon wmd wmd-11"></i>Settings</a>
            <a class="dropdown-item dropdown-has-icon" href=""><i class="dropdown-icon wmd wmd-12"></i>Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>