<nav class="nav-menu d-flex flex-column js-nav">
  <button class="nav-menu__close js-nav-toggle w-100 pl-25 pr-15 text-left font-weight-medium text-uppercase font-size-sm"><i class="wmd wmd-4 text-white mr-10"></i> Close</button>

  <div class="nav-menu__inside w-100 pb-30" data-simplebar data-simplebar-auto-hide="true">
    <ul class="menu">
      <li class="menu__item js-menu-item">
        <a href="#" class="menu__item__link font-size-lg"><i class="wmd wmd-5 font-weight-medium mr-10 text-center"></i>Casino</a>
        <ul class="sub-menu js-sub-menu">
          <li class="sub-menu__item">
            <a href="casino-games.html" class="sub-menu__link position-relative">Games</a>
          </li>
          <li class="sub-menu__item">
            <a href="casino-providers.html" class="sub-menu__link position-relative">Providers</a>
          </li>
          <li class="sub-menu__item">
            <a href="casino-categories.html" class="sub-menu__link position-relative">Categories</a>
          </li>
          <li class="sub-menu__item">
            <a href="casino-features.html" class="sub-menu__link position-relative">Features</a>
          </li>
          <li class="sub-menu__item">
            <a href="casino-themes.html" class="sub-menu__link position-relative">Themes</a>
          </li>
        </ul>
      </li>
      <li class="menu__item js-menu-item">
        <a href="#" class="menu__item__link font-size-lg"><i class="wmd wmd-7 mr-10 text-center"></i>Bonuses</a>
        <ul class="sub-menu js-sub-menu">
          <li class="sub-menu__item">
            <a href="bonuses.html" class="sub-menu__link position-relative">Bonuses</a>
          </li>
          <li class="sub-menu__item">
            <a href="bonuses-types.html" class="sub-menu__link position-relative">Bonus types</a>
          </li>
          <li class="sub-menu__item">
            <a href="bonuses-reward.html" class="sub-menu__link position-relative">Reward / destroy</a>
          </li>
          <li class="sub-menu__item">
            <a href="bonuses-triggers.html" class="sub-menu__link position-relative">Triggers</a>
          </li>
          <li class="sub-menu__item">
            <a href="bonuses-trophy-categories.html" class="sub-menu__link position-relative">Trophy categories</a>
          </li>
        </ul>
      </li>
      <li class="menu__item js-menu-item">
        <a href="#" class="menu__item__link font-size-lg"><i class="wmd wmd-34 mr-10 text-center"></i>Levels</a>
        <ul class="sub-menu js-sub-menu">
          <li class="sub-menu__item">
            <a href="levels-tiers.html" class="sub-menu__link position-relative">Tires</a>
          </li>
          <li class="sub-menu__item">
            <a href="levels.html" class="sub-menu__link position-relative">Levels</a>
          </li>
        </ul>
      </li>
      <li class="menu__item">
        <a href="wishing-well.html" class="menu__item__link font-size-lg"><i class="wmd wmd-35 mr-10 text-center"></i>Wishing well</a>
      </li>
      <li class="menu__item">
        <a href="coins-frequency.html" class="menu__item__link font-size-lg"><i class="wmd wmd-36 mr-10 text-center"></i>Coins frequency</a>
      </li>
      <li class="menu__item js-menu-item">
        <a href="#" class="menu__item__link font-size-lg"><i class="wmd wmd-37 mr-10 text-center"></i>Races</a>
        <ul class="sub-menu js-sub-menu">
          <li class="sub-menu__item">
            <a href="" class="sub-menu__link position-relative">Templates</a>
          </li>
          <li class="sub-menu__item">
            <a href="" class="sub-menu__link position-relative">Generated races</a>
          </li>
        </ul>
      </li>
      <li class="menu__item js-menu-item">
        <a href="#" class="menu__item__link font-size-lg"><i class="wmd wmd-63 mr-10 text-center"></i>Wishfactory</a>
        <ul class="sub-menu js-sub-menu">
          <li class="sub-menu__item">
            <a href="wishfactory-items.html" class="sub-menu__link position-relative">Items</a>
          </li>
          <li class="sub-menu__item">
            <a href="wishfactory-merchandise.html" class="sub-menu__link position-relative">Merchandise</a>
          </li>
          <li class="sub-menu__item">
            <a href="wishfactory-orders.html" class="sub-menu__link position-relative">Orders</a>
          </li>
          <li class="sub-menu__item">
            <a href="wishfactory-deposits.html" class="sub-menu__link position-relative">Deposits</a>
          </li>
          <li class="sub-menu__item">
            <a href="wishfactory-donation.html" class="sub-menu__link position-relative">Donations</a>
          </li>
          <li class="sub-menu__item">
            <a href="wishfactory-reports.html" class="sub-menu__link position-relative">Reports</a>
          </li>
          <li class="sub-menu__item">
            <a href="wishfactory-notifications.html" class="sub-menu__link position-relative">Notifications</a>
          </li>
        </ul>
      </li>
      <li class="menu__item js-menu-item">
        <a href="#" class="menu__item__link font-size-lg"><i class="wmd wmd-38 mr-10 text-center"></i>Players feed</a>
        <ul class="sub-menu js-sub-menu">
          <li class="sub-menu__item">
            <a href="players-feed-actions.html" class="sub-menu__link position-relative">Actions</a>
          </li>
          <li class="sub-menu__item">
            <a href="players-feed-templates.html" class="sub-menu__link position-relative">Templates</a>
          </li>
          <li class="sub-menu__item">
            <a href="players-feed-logs.html" class="sub-menu__link position-relative">Feed log</a>
          </li>
        </ul>
      </li>
      <li class="menu__item">
        <a href="promotions.html" class="menu__item__link font-size-lg"><i class="wmd wmd-39 mr-10 text-center"></i>Promotions</a>
      </li>
      <li class="menu__item js-menu-item">
        <a href="#" class="menu__item__link font-size-lg"><i class="wmd wmd-40 mr-10 text-center"></i>Guides</a>
        <ul class="sub-menu js-sub-menu">
          <li class="sub-menu__item">
            <a href="guides-guides.html" class="sub-menu__link position-relative">Guides</a>
          </li>
          <li class="sub-menu__item">
            <a href="guides-categories.html" class="sub-menu__link position-relative">Categories</a>
          </li>
        </ul>
      </li>
      <li class="menu__item js-menu-item">
        <a href="#" class="menu__item__link font-size-lg"><i class="wmd wmd-6 mr-10 text-center"></i>Content</a>
        <ul class="sub-menu js-sub-menu">
          <li class="sub-menu__item">
            <a href="content-pages.html" class="sub-menu__link position-relative">Pages</a>
          </li>
          <li class="sub-menu__item">
            <a href="content-menus.html" class="sub-menu__link position-relative">Menus</a>
          </li>
          <li class="sub-menu__item">
            <a href="content-media.html" class="sub-menu__link position-relative">Media</a>
          </li>
          <li class="sub-menu__item">
            <a href="content-banking.html" class="sub-menu__link position-relative">Banking</a>
          </li>
          <li class="sub-menu__item">
            <a href="content-stringlist.html" class="sub-menu__link position-relative">Strings & Widgets</a>
          </li>
          <li class="sub-menu__item">
            <a href="content-languages.html" class="sub-menu__link position-relative">Languages</a>
          </li>
          <li class="sub-menu__item">
            <a href="content-currencies.html" class="sub-menu__link position-relative">Currencies</a>
          </li>
          <li class="sub-menu__item">
            <a href="content-countries.html" class="sub-menu__link position-relative">Countries</a>
          </li>
          <li class="sub-menu__item">
            <a href="content-sliders.html" class="sub-menu__link position-relative">Sliders</a>
          </li>
        </ul>
      </li>
      <li class="menu__item js-menu-item">
        <a href="#" class="menu__item__link font-size-lg"><i class="wmd wmd-41 mr-10 text-center"></i>FAQ</a>
        <ul class="sub-menu js-sub-menu">
          <li class="sub-menu__item">
            <a href="faq-categories.html" class="sub-menu__link position-relative">Categories</a>
          </li>
          <li class="sub-menu__item">
            <a href="faq-faq.html" class="sub-menu__link position-relative">FAQ</a>
          </li>
        </ul>
      </li>
      <li class="menu__item js-menu-item">
        <a href="#" class="menu__item__link font-size-lg"><i class="wmd wmd-42 mr-10 text-center"></i>Blog</a>
        <ul class="sub-menu js-sub-menu">
          <li class="sub-menu__item">
            <a href="blog-categories.html" class="sub-menu__link position-relative">Categories</a>
          </li>
          <li class="sub-menu__item">
            <a href="blog-posts.html" class="sub-menu__link position-relative">Posts</a>
          </li>
        </ul>
      </li>
      <li class="menu__item">
        <a href="" class="menu__item__link font-size-lg"><i class="wmd wmd-8 mr-10 text-center"></i>Players</a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__item__link font-size-lg"><i class="wmd wmd-43 mr-10 text-center"></i>Reports</a>
        <ul class="sub-menu js-sub-menu">
          <li class="sub-menu__item">
            <a href="reports-players.html" class="sub-menu__link position-relative">Players</a>
          </li>
          <li class="sub-menu__item">
            <a href="reports-lucky-gems.html" class="sub-menu__link position-relative">Lucky Gems</a>
          </li>
          <li class="sub-menu__item">
            <a href="reports-activity-trophies.html" class="sub-menu__link position-relative">Activity Trophies</a>
          </li>
          <li class="sub-menu__item">
            <a href="reports-wishcoins.html" class="sub-menu__link position-relative">Wishcoins</a>
          </li>
          <li class="sub-menu__item">
            <a href="reports-wishing-well.html" class="sub-menu__link position-relative">Wishing Well</a>
          </li>
        </ul>
      </li>
      <li class="menu__item js-menu-item">
        <a href="#" class="menu__item__link font-size-lg"><i class="wmd wmd-44 mr-10 text-center"></i>Access</a>
        <ul class="sub-menu js-sub-menu">
          <li class="sub-menu__item">
            <a href="access-administrators.html" class="sub-menu__link position-relative">Administrators</a>
          </li>
          <li class="sub-menu__item">
            <a href="access-allowed.html" class="sub-menu__link position-relative">Allowed IPs</a>
          </li>
          <li class="sub-menu__item">
            <a href="access-roles.html" class="sub-menu__link position-relative">Roles</a>
          </li>
          <li class="sub-menu__item">
            <a href="access-logs.html" class="sub-menu__link position-relative">Logs</a>
          </li>
        </ul>
      </li>
      <li class="menu__item">
        <a href="settings.html" class="menu__item__link font-size-lg"><i class="wmd wmd-9 mr-10 text-center"></i>Settings</a>
      </li>
    </ul>
  </div>
</nav>

<div class="nav-menu__backdrop js-nav-toggle"></div>