<div class="modal fade" id="refundModdal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="py-sm-46 py-30 px-sm-30 px-25">
        <div class="row justify-content-center">
          <div class="col-lg-11 px-xl-10 text-center">
            <h3 class="h2-sm h1-rem mb-15">Are you sure you want to refund this @@text?</h3>
            <p class="font-size-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </p>
            <div class="row mt-15">
              <div class="col-sm-6 col-12 mt-20">
                <button type="submit" class="btn btn--orange btn--lg-round w-100"><i class="wmd wmd-63 mr-10"></i>Yes, refund this @@text</button>
              </div>

              <div class="col-sm-6 col-12 mt-20">
                <button class="btn btn--outline-gray btn--lg-round w-100" data-dismiss="modal"><i class="wmd wmd-23 mr-15"></i> no, go back</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>