<div class="search collapse bg-white w-100 @@if ( context.open ) { show }" id="search">
  <div class="container">
    <form action="" class="position-relative">
     <div class="row">
       <div class="col-auto pr-0">
         <button type="submit" class="search__btn search-height d-block text-left"><i class="wmd wmd-1"></i></button>
       </div>
       <div class="col pl-0">
         <input type="search" class="search__input search-height w-100 position-relative js-autocomplete" placeholder="Search..." @@if ( context.open ) { value="Fairy Gate" }>
       </div>
     </div> 
    </form>
  </div>
</div>