<form>
  <div class="row">
    <div class="col-md-6 col-12 mb-25">
      <div class="form__group">
        <div class="form__row align-items-center">
          <div class="col-sm-2 col-3">
            <label>Player</label>
          </div>

          <div class="col">
            <select class="form__control js-select2">
              <option value=""></option>
              <option value="1" selected="">Jose</option>
              <option value="2">Adam</option>
              <option value="3">Peter Ivanov</option>
              <option value="4">Cris Petrov</option>
            </select>
          </div>

          <div class="col-auto">
            <div class="form__info text-center" tabindex="0" data-toggle="tooltip" data-placement="left" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"><i class="wmd wmd-29"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>