<tr class="tr--card">
  <td data-card-title="Date" class="td--card td--card--half">@@date</td>
  <td data-card-title="User" class="td--card td--card--half">@@user</td>
  <td data-card-title="Module" class="td--card td--card--half text-center">@@module</td>
  <td data-card-title="Action" class="td--card td--card--half text-center">@@action</td>
  <td data-card-title="Note" class="td--card td--card--half">@@note</td>
  <td data-card-title="IP" class="td--card td--card--half text-center">@@ip</td>
</tr>