<div class="card card--rounded bg-white">
  <div class="card__header px-sm-30 px-20 py-20">
    <h3 class="h3-rem-sm h3">Games <span class="card__title__small">/ Times Played</span></h3>
  </div>

  <div class="px-30 px-20">
    <table class="table table--border-bottom">
      <tbody>
        <tr>
          <td class="td--grow pl-0">Fortunes of the Dead</td>
          <td class="text-truncate pr-0"><strong>523, 545 234</strong></td>
        </tr>
        <tr>
          <td class="td--grow pl-0">Pumpkin Smash</td>
          <td class="text-truncate pr-0"><strong>523, 545 234</strong></td>
        </tr>
        <tr>
          <td class="td--grow pl-0">Renegades</td>
          <td class="text-truncate pr-0"><strong>523, 545 234</strong></td>
        </tr>
        <tr>
          <td class="td--grow pl-0">Uncharted Seas</td>
          <td class="text-truncate pr-0"><strong>523, 545 234</strong></td>
        </tr>
        <tr>
          <td class="td--grow pl-0">Easter Island</td>
          <td class="text-truncate pr-0"><strong>523, 545 234</strong></td>
        </tr>
        <tr>
          <td class="td--grow pl-0">Jolly's Gifts</td>
          <td class="text-truncate pr-0"><strong>523, 545 234</strong></td>
        </tr>
        <tr>
          <td class="td--grow pl-0">Book of the Ages</td>
          <td class="text-truncate pr-0"><strong>523, 545 234</strong></td>
        </tr>
        <tr>
          <td class="td--grow pl-0">Jungle Books</td>
          <td class="text-truncate pr-0"><strong>523, 545 234</strong></td>
        </tr>
        <tr>
          <td class="td--grow pl-0">Book of Dead</td>
          <td class="text-truncate pr-0"><strong>523, 545 234</strong></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>