<tr class="tr--card">
  <td data-card-title="Label" class="td--card td--card--half">@@label</td>
  <td data-card-title="Type" class="td--card td--card--half">@@type</td>
  <td data-card-title="String" class="td--card td--card--half">@@string</td>
  <td data-card-title="Translations" class="td--card td--card--half text-center">
  	<img width="35" src="@@image1" alt="">
  	<img width="35" src="@@image2" alt="">
  	<img width="35" src="@@image3" alt="">
  	<img width="35" src="@@image4" alt="">
  </td>
  <td class="td--card td--card--full td--card-text-center text-center"><a href="edit-content-stringlist.html" class="btn btn--outline-gray btn--sm-round">edit</a></td>
</tr>